# EDA - preping the industry data

In [1]:
import pyspark 
sc = pyspark.sql.SparkSession.Builder()\
        .master('yarn')\
        .appName('hive-test')\
        .enableHiveSupport()\
        .getOrCreate()

In [2]:
sc

In [3]:
sc.sql('SHOW TABLES').collect()

[Row(database='default', tableName='pac_spending', isTemporary=False),
 Row(database='default', tableName='pac_spending_by_type', isTemporary=False),
 Row(database='default', tableName='pq_crp_cands18', isTemporary=False),
 Row(database='default', tableName='pq_crp_cmtes18', isTemporary=False),
 Row(database='default', tableName='pq_crp_expends18', isTemporary=False),
 Row(database='default', tableName='pq_crp_indivs18', isTemporary=False),
 Row(database='default', tableName='pq_crp_industry_names', isTemporary=False),
 Row(database='default', tableName='pq_crp_pac_other18', isTemporary=False),
 Row(database='default', tableName='pq_crp_pacs18', isTemporary=False),
 Row(database='default', tableName='pq_pp_bills', isTemporary=False),
 Row(database='default', tableName='pq_pp_sponsors', isTemporary=False),
 Row(database='default', tableName='pq_pp_titles', isTemporary=False),
 Row(database='default', tableName='pq_us_fec_ids', isTemporary=False),
 Row(database='default', tableName='pq_us_legislators', isTemporary=False)]

In [7]:
sc.sql('SELECT * FROM pq_crp_cands18').limit(10).show()

+-----+---------+---------+--------------------+-----+------------+----------+--------+---------+------+---------+------+
|cycle|feccandid|      cid|          firstlastp|party|distidrunfor|distidcurr|currcand|cyclecand|crpico|recipcode|nopacs|
+-----+---------+---------+--------------------+-----+------------+----------+--------+---------+------+---------+------+
| 2018|H6FL08221|N00028542|       D J Mauro (I)|    I|        FL08|          |        |         |      |       3N|      |
| 2018|H6NC09200|N00035491|     Mark Harris (R)|    R|        NC09|          |        |         |     O|       RO|      |
| 2018|H4NE01163|N00035619| Dennis Crawford (D)|    D|        NE01|          |        |        Y|     C|       DL|      |
| 2018|H0IN01127|N00041294| Arturas Kerelis (D)|    D|        IN01|          |        |         |      |       DN|      |
| 2018|H8AL02171|N00041295|     Barry Moore (R)|    R|        AL02|          |        |        Y|     C|       RL|      |
| 2018|H8AL04078|N00041296|      Mike Moses (R)|    R|        AL04|          |        |        Y|     C|       RN|      |
| 2018|H8AL04086|N00041297|  Rick Neighbors (D)|    D|        AL04|          |        |        Y|     C|       DL|      |
| 2018|H8AL05208|N00041298|Clayton Hinchman (R)|    R|        AL05|          |        |        Y|     C|       RL|      |
| 2018|H8AR02134|N00041299|    Paul Spencer (D)|    D|        AR02|          |        |        Y|     C|       DL|      |
| 2018|H8AR03074|N00041300|     Josh Mahony (D)|    D|        AR03|          |       Y|        Y|     C|       DC|      |
+-----+---------+---------+--------------------+-----+------------+----------+--------+---------+------+---------+------+

Does the individual table not have industry??

In [48]:
sc.sql('SELECT * FROM pq_crp_indivs18').limit(5).show()

+-----+-------------------+------------+-------------------+---------+-------+------+--------+----------+------+------+---------+-----+-----+---------+----+---------+---------+------+------------------+------------+------------+------+
|cycle|         fectransid|   contribid|            contrib|  recipid|orgname|ultorg|realcode|      date|amount|street|     city|state|  zip|recipcode|type|   cmteid|  otherid|gender|         microfilm|  occupation|    employer|source|
+-----+-------------------+------------+-------------------+---------+-------+------+--------+----------+------+------+---------+-----+-----+---------+----+---------+---------+------+------------------+------------+------------+------+
| 2018|4021520181504779816|p0003541768 |WUTHRICH, STEPHANIE|C00603084|       |      |   J1200|2017-11-08|     5|      |  ELKHART|   IN|46514|       PI| 15E|C00603084|C00401224|     F|201801319091098155|NOT EMPLOYED|        NONE| P/PAC|
| 2018|4021520181504779818|p0003541768 |WUTHRICH, STEPHANIE|C00603084|       |      |   J1200|2017-11-08|    10|      |  ELKHART|   IN|46514|       PI| 15E|C00603084|C00401224|     F|201801319091098155|NOT EMPLOYED|        NONE| P/PAC|
| 2018|4021520181504779906|U0000003641 |        YORKIN, PEG|C00603084|       |      |   J1200|2017-07-04|    50|      |   MALIBU|   CA|90265|       PI| 15E|C00603084|C00401224|     F|201801319091098185|        NONE|     RETIRED| P/PAC|
| 2018|4021520181504779918|U0000003641 |        YORKIN, PEG|C00603084|       |      |   J1200|2017-07-06|    50|      |   MALIBU|   CA|90265|       PI| 15E|C00603084|C00401224|     F|201801319091098189|        NONE|     RETIRED| P/PAC|
| 2018|4021520181504779956|p0003071674 |        YOUNG, ILSE|C00603084|       |      |   J1200|2017-09-11|    50|      |CHAPPAQUA|   NY|10514|       PI| 15E|C00603084|C00401224|     F|201801319091098201|NOT EMPLOYED|NOT EMPLOYED| P/PAC|
+-----+-------------------+------------+-------------------+---------+-------+------+--------+----------+------+------+---------+-----+-----+---------+----+---------+---------+------+------------------+------------+------------+------+

In [51]:
sc.sql('SELECT realcode, sum(amount), count(contribid) FROM pq_crp_indivs18 GROUP BY realcode ').count()

470

In [55]:
sc.sql('SELECT realcode, sum(amount) AS money, count(contribid) FROM pq_crp_indivs18 GROUP BY realcode ORDER BY money DESC').collect()

[Row(realcode='Z9500', money=307821522, count(contribid)=2563962),
 Row(realcode='Y4000', money=227928460, count(contribid)=571205),
 Row(realcode='X1200', money=186889529, count(contribid)=972393),
 Row(realcode='K1000', money=94909387, count(contribid)=161371),
 Row(realcode='F2700', money=65099756, count(contribid)=4112),
 Row(realcode='F2600', money=57948077, count(contribid)=14944),
 Row(realcode='J1200', money=55168158, count(contribid)=1102926),
 Row(realcode='Y1000', money=49244720, count(contribid)=279555),
 Row(realcode='F2100', money=49068817, count(contribid)=48934),
 Row(realcode='Z9000', money=48915983, count(contribid)=10148),
 Row(realcode='F4000', money=46599518, count(contribid)=39289),
 Row(realcode='J1100', money=40848862, count(contribid)=71784),
 Row(realcode='F4100', money=38014293, count(contribid)=15586),
 Row(realcode='LB100', money=34695187, count(contribid)=208341),
 Row(realcode='JE300', money=33903445, count(contribid)=8861),
 Row(realcode='K2000', money=32030999, count(contribid)=30104),
 Row(realcode='X4100', money=28263651, count(contribid)=6182),
 Row(realcode='G4700', money=27238362, count(contribid)=311),
 Row(realcode='H5100', money=26697179, count(contribid)=156087),
 Row(realcode='J7400', money=26358106, count(contribid)=129842),
 Row(realcode='Z9600', money=25227664, count(contribid)=8799),
 Row(realcode='F7000', money=24416497, count(contribid)=11053),
 Row(realcode='H1100', money=23864218, count(contribid)=59116),
 Row(realcode='H1130', money=20615937, count(contribid)=58756),
 Row(realcode='F4200', money=20158249, count(contribid)=38184),
 Row(realcode='F3100', money=19557617, count(contribid)=89973),
 Row(realcode='F1100', money=19421756, count(contribid)=119942),
 Row(realcode='F5100', money=18796777, count(contribid)=37795),
 Row(realcode='C1100', money=18353330, count(contribid)=41063),
 Row(realcode='F2500', money=17505936, count(contribid)=6104),
 Row(realcode='G0000', money=16164523, count(contribid)=50708),
 Row(realcode='X4110', money=15754802, count(contribid)=1654),
 Row(realcode='Y2000', money=15445827, count(contribid)=82268),
 Row(realcode='E1160', money=15244058, count(contribid)=66643),
 Row(realcode='M2300', money=14364161, count(contribid)=86885),
 Row(realcode='H2100', money=14296362, count(contribid)=42125),
 Row(realcode='E1120', money=13876585, count(contribid)=19020),
 Row(realcode='H4300', money=13626394, count(contribid)=129233),
 Row(realcode='G5200', money=13288686, count(contribid)=29199),
 Row(realcode='K1100', money=12482833, count(contribid)=25220),
 Row(realcode='E1150', money=12270522, count(contribid)=13535),
 Row(realcode='G6550', money=12253153, count(contribid)=2939),
 Row(realcode='J9000', money=11928554, count(contribid)=273011),
 Row(realcode='F4500', money=11450670, count(contribid)=9171),
 Row(realcode='K1200', money=11374524, count(contribid)=21475),
 Row(realcode='C5120', money=11098830, count(contribid)=33986),
 Row(realcode='G6500', money=10626771, count(contribid)=11627),
 Row(realcode='F2300', money=10503712, count(contribid)=11951),
 Row(realcode='D2000', money=10403390, count(contribid)=132084),
 Row(realcode='E1600', money=10332514, count(contribid)=67310),
 Row(realcode='F3300', money=9889028, count(contribid)=74534),
 Row(realcode='G2900', money=9665243, count(contribid)=15472),
 Row(realcode='T2300', money=9608397, count(contribid)=7800),
 Row(realcode='X3000', money=9380454, count(contribid)=52998),
 Row(realcode='J5100', money=9108730, count(contribid)=10392),
 Row(realcode='LC150', money=8972311, count(contribid)=41878),
 Row(realcode='B4000', money=8290582, count(contribid)=37060),
 Row(realcode='B1500', money=8153298, count(contribid)=13060),
 Row(realcode='C4500', money=8058762, count(contribid)=81941),
 Row(realcode='G2850', money=8047702, count(contribid)=6159),
 Row(realcode='B1000', money=7883239, count(contribid)=12417),
 Row(realcode='G5270', money=7819151, count(contribid)=8476),
 Row(realcode='F3200', money=7697785, count(contribid)=67288),
 Row(realcode='J7500', money=7674792, count(contribid)=136420),
 Row(realcode='G6400', money=7656243, count(contribid)=2213),
 Row(realcode='L1300', money=7535190, count(contribid)=12777),
 Row(realcode='E1620', money=7469471, count(contribid)=58529),
 Row(realcode='H3700', money=7161835, count(contribid)=62316),
 Row(realcode='E1110', money=6822720, count(contribid)=28542),
 Row(realcode='T5100', money=6806612, count(contribid)=59829),
 Row(realcode='T9100', money=6754138, count(contribid)=10320),
 Row(realcode='B2000', money=6632166, count(contribid)=12487),
 Row(realcode='A1000', money=6508016, count(contribid)=13630),
 Row(realcode='D3000', money=6466924, count(contribid)=60595),
 Row(realcode='C2400', money=6397258, count(contribid)=10833),
 Row(realcode='A1200', money=6288995, count(contribid)=8440),
 Row(realcode='F5000', money=6269160, count(contribid)=7139),
 Row(realcode='C2100', money=6080429, count(contribid)=14499),
 Row(realcode='B5100', money=5994302, count(contribid)=10102),
 Row(realcode='H4100', money=5967523, count(contribid)=22573),
 Row(realcode='F1400', money=5722300, count(contribid)=22927),
 Row(realcode='LT100', money=5707744, count(contribid)=67729),
 Row(realcode='G2500', money=5657575, count(contribid)=3145),
 Row(realcode='F4600', money=5527107, count(contribid)=8187),
 Row(realcode='E1140', money=5439054, count(contribid)=31844),
 Row(realcode='H2200', money=5406181, count(contribid)=9281),
 Row(realcode='B6000', money=5298386, count(contribid)=7613),
 Row(realcode='G5210', money=5255430, count(contribid)=5739),
 Row(realcode='H4500', money=5171587, count(contribid)=19913),
 Row(realcode='L1200', money=5154100, count(contribid)=29437),
 Row(realcode='F2110', money=5130506, count(contribid)=6357),
 Row(realcode='C4100', money=5068432, count(contribid)=53717),
 Row(realcode='F3400', money=5018075, count(contribid)=33824),
 Row(realcode='C2300', money=4905269, count(contribid)=2714),
 Row(realcode='H3000', money=4841025, count(contribid)=6419),
 Row(realcode='C5110', money=4822725, count(contribid)=20602),
 Row(realcode='A3000', money=4691905, count(contribid)=7051),
 Row(realcode='G2820', money=4642945, count(contribid)=5986),
 Row(realcode='T1100', money=4575158, count(contribid)=29655),
 Row(realcode='H1110', money=4547626, count(contribid)=27288),
 Row(realcode='E1210', money=4515091, count(contribid)=3963),
 Row(realcode='C5130', money=4499339, count(contribid)=11731),
 Row(realcode='X4000', money=4496398, count(contribid)=4056),
 Row(realcode='H1400', money=4463949, count(contribid)=11771),
 Row(realcode='E1500', money=4460260, count(contribid)=9503),
 Row(realcode='M1000', money=4420228, count(contribid)=29125),
 Row(realcode='C6000', money=4412153, count(contribid)=3579),
 Row(realcode='C2000', money=4341842, count(contribid)=8143),
 Row(realcode='T3100', money=4318106, count(contribid)=7053),
 Row(realcode='E1100', money=4205297, count(contribid)=6803),
 Row(realcode='F1000', money=4066316, count(contribid)=6969),
 Row(realcode='X0000', money=3881308, count(contribid)=13779),
 Row(realcode='F0000', money=3702744, count(contribid)=4716),
 Row(realcode='T2310', money=3683975, count(contribid)=3968),
 Row(realcode='A1300', money=3618496, count(contribid)=23354),
 Row(realcode='LM100', money=3605287, count(contribid)=25411),
 Row(realcode='C5000', money=3560315, count(contribid)=9246),
 Row(realcode='A2300', money=3478558, count(contribid)=1033),
 Row(realcode='M3300', money=3473790, count(contribid)=2705),
 Row(realcode='T2100', money=3465374, count(contribid)=59819),
 Row(realcode='H4400', money=3437314, count(contribid)=31595),
 Row(realcode='X3500', money=3426888, count(contribid)=29386),
 Row(realcode='M2100', money=3398754, count(contribid)=5935),
 Row(realcode='A1400', money=3284458, count(contribid)=3698),
 Row(realcode='T2200', money=3248315, count(contribid)=6778),
 Row(realcode='F1200', money=3134328, count(contribid)=1070),
 Row(realcode='H3200', money=3119101, count(contribid)=10497),
 Row(realcode='F2000', money=3110903, count(contribid)=9268),
 Row(realcode='B4200', money=3072202, count(contribid)=10656),
 Row(realcode='C5400', money=3012169, count(contribid)=3099),
 Row(realcode='F5500', money=2998930, count(contribid)=3395),
 Row(realcode='C6200', money=2952558, count(contribid)=2911),
 Row(realcode='J6200', money=2924589, count(contribid)=13471),
 Row(realcode='C6300', money=2906991, count(contribid)=10884),
 Row(realcode='z9600', money=2892670, count(contribid)=8227),
 Row(realcode='G4800', money=2883808, count(contribid)=595),
 Row(realcode='G2100', money=2865644, count(contribid)=6272),
 Row(realcode='A4000', money=2848923, count(contribid)=10228),
 Row(realcode='G2000', money=2847916, count(contribid)=759),
 Row(realcode='C5200', money=2845915, count(contribid)=3266),
 Row(realcode='E1700', money=2843416, count(contribid)=632),
 Row(realcode='T2500', money=2834553, count(contribid)=9803),
 Row(realcode='A5000', money=2813395, count(contribid)=5938),
 Row(realcode='A2000', money=2736573, count(contribid)=6101),
 Row(realcode='G2400', money=2714052, count(contribid)=14021),
 Row(realcode='H1120', money=2688377, count(contribid)=7480),
 Row(realcode='G4300', money=2683293, count(contribid)=22509),
 Row(realcode='E1000', money=2631175, count(contribid)=3435),
 Row(realcode='G5260', money=2597576, count(contribid)=1668),
 Row(realcode='C2600', money=2550610, count(contribid)=9594),
 Row(realcode='F4300', money=2549818, count(contribid)=4103),
 Row(realcode='M3100', money=2453718, count(contribid)=2067),
 Row(realcode='B3000', money=2429984, count(contribid)=4889),
 Row(realcode='G4900', money=2375916, count(contribid)=13601),
 Row(realcode='G2810', money=2369282, count(contribid)=9628),
 Row(realcode='J7150', money=2309536, count(contribid)=3300),
 Row(realcode='F1420', money=2304355, count(contribid)=4459),
 Row(realcode='L1400', money=2289116, count(contribid)=24701),
 Row(realcode='G5000', money=2248139, count(contribid)=10155),
 Row(realcode='H5300', money=2248072, count(contribid)=4624),
 Row(realcode='T7100', money=2205929, count(contribid)=21630),
 Row(realcode='LC100', money=2181160, count(contribid)=16824),
 Row(realcode='T6200', money=2163276, count(contribid)=6923),
 Row(realcode='E1170', money=2138419, count(contribid)=1340),
 Row(realcode='L1100', money=2134996, count(contribid)=10823),
 Row(realcode='J7300', money=2082147, count(contribid)=33886),
 Row(realcode='B3200', money=2079812, count(contribid)=2608),
 Row(realcode='G5240', money=2055142, count(contribid)=5602),
 Row(realcode='F2200', money=2022007, count(contribid)=2602),
 Row(realcode='C4000', money=2002415, count(contribid)=1225),
 Row(realcode='G4100', money=2001189, count(contribid)=1892),
 Row(realcode='H0000', money=1994753, count(contribid)=5568),
 Row(realcode='G5250', money=1965962, count(contribid)=4274),
 Row(realcode='X5000', money=1908811, count(contribid)=8650),
 Row(realcode='H1710', money=1888143, count(contribid)=14525),
 Row(realcode='G4600', money=1861477, count(contribid)=4405),
 Row(realcode='C4300', money=1850738, count(contribid)=16512),
 Row(realcode='X7000', money=1812847, count(contribid)=12297),
 Row(realcode='F1300', money=1772051, count(contribid)=19866),
 Row(realcode='C6400', money=1768501, count(contribid)=10053),
 Row(realcode='E3000', money=1761267, count(contribid)=7394),
 Row(realcode='H5000', money=1736714, count(contribid)=6446),
 Row(realcode='A4100', money=1680355, count(contribid)=2244),
 Row(realcode='B5000', money=1675082, count(contribid)=465),
 Row(realcode='X3100', money=1648662, count(contribid)=3099),
 Row(realcode='M2000', money=1628361, count(contribid)=2815),
 Row(realcode='B4400', money=1626880, count(contribid)=6701),
 Row(realcode='G6100', money=1602118, count(contribid)=797),
 Row(realcode='C2700', money=1586972, count(contribid)=538),
 Row(realcode='A5200', money=1570883, count(contribid)=8857),
 Row(realcode='M1500', money=1541368, count(contribid)=5134),
 Row(realcode='C2200', money=1540628, count(contribid)=4563),
 Row(realcode='B5200', money=1537946, count(contribid)=894),
 Row(realcode='E0000', money=1537476, count(contribid)=149),
 Row(realcode='X4200', money=1532519, count(contribid)=3883),
 Row(realcode='H1700', money=1487460, count(contribid)=11108),
 Row(realcode='T9300', money=1465612, count(contribid)=2078),
 Row(realcode='D9000', money=1447637, count(contribid)=7542),
 Row(realcode='G7000', money=1434966, count(contribid)=5121),
 Row(realcode='T6100', money=1432083, count(contribid)=868),
 Row(realcode='M5000', money=1431875, count(contribid)=1276),
 Row(realcode='H2000', money=1399940, count(contribid)=2118),
 Row(realcode='C6100', money=1395025, count(contribid)=527),
 Row(realcode='G4000', money=1392650, count(contribid)=2943),
 Row(realcode='A3100', money=1391017, count(contribid)=1278),
 Row(realcode='F5300', money=1384415, count(contribid)=7023),
 Row(realcode='J6100', money=1380734, count(contribid)=9168),
 Row(realcode='L1500', money=1376051, count(contribid)=32508),
 Row(realcode='G4500', money=1361125, count(contribid)=34124),
 Row(realcode='H6000', money=1355231, count(contribid)=5872),
 Row(realcode='G2600', money=1354234, count(contribid)=13110),
 Row(realcode='H4600', money=1338935, count(contribid)=15592),
 Row(realcode='A1600', money=1306292, count(contribid)=1756),
 Row(realcode='B5400', money=1250175, count(contribid)=595),
 Row(realcode='B0500', money=1213273, count(contribid)=2422),
 Row(realcode='G1000', money=1204284, count(contribid)=1157),
 Row(realcode='H3900', money=1190502, count(contribid)=2821),
 Row(realcode='F2400', money=1175257, count(contribid)=842),
 Row(realcode='E1320', money=1162669, count(contribid)=5721),
 Row(realcode='F4700', money=1140618, count(contribid)=1491),
 Row(realcode='E1610', money=1134078, count(contribid)=7420),
 Row(realcode='C2900', money=1131845, count(contribid)=2080),
 Row(realcode='H1750', money=1075419, count(contribid)=4367),
 Row(realcode='H5150', money=1074678, count(contribid)=6483),
 Row(realcode='G1100', money=1048186, count(contribid)=1028),
 Row(realcode='C4600', money=1045814, count(contribid)=9576),
 Row(realcode='F5200', money=1037595, count(contribid)=7623),
 Row(realcode='E1200', money=1036088, count(contribid)=761),
 Row(realcode='M8000', money=1008068, count(contribid)=1168),
 Row(realcode='A1100', money=993602, count(contribid)=1632),
 Row(realcode='A1500', money=972329, count(contribid)=1293),
 Row(realcode='M3200', money=960348, count(contribid)=830),
 Row(realcode='B3400', money=957218, count(contribid)=2647),
 Row(realcode='E1240', money=944050, count(contribid)=349),
 Row(realcode='X3200', money=927937, count(contribid)=4574),
 Row(realcode='A8000', money=918628, count(contribid)=1150),
 Row(realcode='T9000', money=903168, count(contribid)=1719),
 Row(realcode='H3800', money=897833, count(contribid)=669),
 Row(realcode='JH100', money=891912, count(contribid)=904),
 Row(realcode='J7700', money=888342, count(contribid)=271),
 Row(realcode='L5000', money=881698, count(contribid)=2989),
 Row(realcode='M0000', money=880390, count(contribid)=2814),
 Row(realcode='C4400', money=875570, count(contribid)=3515),
 Row(realcode='J2200', money=862248, count(contribid)=488),
 Row(realcode='G5290', money=860950, count(contribid)=1766),
 Row(realcode='G2200', money=854865, count(contribid)=1317),
 Row(realcode='B3600', money=826732, count(contribid)=3048),
 Row(realcode='H3100', money=822466, count(contribid)=3023),
 Row(realcode='F3000', money=817276, count(contribid)=3408),
 Row(realcode='M7000', money=813883, count(contribid)=770),
 Row(realcode='E1300', money=812262, count(contribid)=5840),
 Row(realcode='G2700', money=808216, count(contribid)=1248),
 Row(realcode='G2300', money=800019, count(contribid)=3643),
 Row(realcode='H5170', money=764608, count(contribid)=2196),
 Row(realcode='T1700', money=757862, count(contribid)=1464),
 Row(realcode='M7100', money=753426, count(contribid)=1825),
 Row(realcode='M2200', money=753119, count(contribid)=1382),
 Row(realcode='C6500', money=751845, count(contribid)=1114),
 Row(realcode='M2400', money=747251, count(contribid)=760),
 Row(realcode='A4200', money=747208, count(contribid)=11816),
 Row(realcode='H4000', money=741309, count(contribid)=11705),
 Row(realcode='A4500', money=738531, count(contribid)=3211),
 Row(realcode='T9400', money=738282, count(contribid)=2031),
 Row(realcode='J1000', money=736700, count(contribid)=261),
 Row(realcode='G5800', money=725284, count(contribid)=2718),
 Row(realcode='T2000', money=711637, count(contribid)=254),
 Row(realcode='M1300', money=710958, count(contribid)=2247),
 Row(realcode='C1300', money=706829, count(contribid)=1304),
 Row(realcode='T1000', money=691491, count(contribid)=213),
 Row(realcode='E1630', money=685115, count(contribid)=8997),
 Row(realcode='G1200', money=661728, count(contribid)=2095),
 Row(realcode='H3400', money=657868, count(contribid)=1495),
 Row(realcode='T3200', money=657827, count(contribid)=3323),
 Row(realcode='M9000', money=654960, count(contribid)=1698),
 Row(realcode='D5000', money=654558, count(contribid)=4972),
 Row(realcode='LT500', money=652767, count(contribid)=5942),
 Row(realcode='T1300', money=649517, count(contribid)=2578),
 Row(realcode='T1600', money=648802, count(contribid)=1043),
 Row(realcode='M4100', money=643642, count(contribid)=782),
 Row(realcode='G3000', money=640185, count(contribid)=485),
 Row(realcode='E1220', money=631040, count(contribid)=3251),
 Row(realcode='G4400', money=626445, count(contribid)=408),
 Row(realcode='G5280', money=626106, count(contribid)=2376),
 Row(realcode='D4000', money=613074, count(contribid)=1673),
 Row(realcode='Z9999', money=610000, count(contribid)=5),
 Row(realcode='E5000', money=609785, count(contribid)=7909),
 Row(realcode='T6250', money=601474, count(contribid)=412),
 Row(realcode='C5100', money=595719, count(contribid)=2913),
 Row(realcode='M5100', money=576271, count(contribid)=244),
 Row(realcode='A6000', money=564057, count(contribid)=5137),
 Row(realcode='G5300', money=563588, count(contribid)=1548),
 Row(realcode='A0000', money=558548, count(contribid)=1488),
 Row(realcode='C0000', money=553114, count(contribid)=768),
 Row(realcode='G5400', money=552074, count(contribid)=4239),
 Row(realcode='LT300', money=551449, count(contribid)=23726),
 Row(realcode='G2350', money=550738, count(contribid)=1982),
 Row(realcode='M1600', money=550399, count(contribid)=2119),
 Row(realcode='B5300', money=548601, count(contribid)=243),
 Row(realcode='A3500', money=548258, count(contribid)=665),
 Row(realcode='E2000', money=546680, count(contribid)=1058),
 Row(realcode='LG100', money=545503, count(contribid)=7200),
 Row(realcode='F1410', money=544184, count(contribid)=2890),
 Row(realcode='LG400', money=543860, count(contribid)=2798),
 Row(realcode='T1200', money=529329, count(contribid)=1783),
 Row(realcode='G5230', money=523822, count(contribid)=1089),
 Row(realcode='M7300', money=522475, count(contribid)=593),
 Row(realcode='M3400', money=517980, count(contribid)=584),
 Row(realcode='G2910', money=515836, count(contribid)=1166),
 Row(realcode='T5300', money=514458, count(contribid)=369),
 Row(realcode='M2250', money=494480, count(contribid)=168),
 Row(realcode='JD200', money=486190, count(contribid)=2161),
 Row(realcode='H5200', money=484037, count(contribid)=612),
 Row(realcode='LG300', money=476816, count(contribid)=6902),
 Row(realcode='J7600', money=470499, count(contribid)=216),
 Row(realcode='T1400', money=468156, count(contribid)=1919),
 Row(realcode='T7000', money=468025, count(contribid)=450),
 Row(realcode='G2800', money=451568, count(contribid)=900),
 Row(realcode='B5500', money=434132, count(contribid)=119),
 Row(realcode='E4100', money=428219, count(contribid)=701),
 Row(realcode='Y3000', money=420715, count(contribid)=837),
 Row(realcode='J7120', money=412412, count(contribid)=540),

^Looks like all individuals have an industry, which is impressive given the number of blanks. Maybe one of the codes is unknown. Haven't found a translation table yet for realcodes

In [ ]:
criteria for filter individuals:
    
Realcode not like Z9* (these are noncontributions)
Limit types to 10, 11, 15, 15E, 15J, 22Y
Remember that Type 10 is soft money before 2004 and Levin Funds or outside spending 2004+
RecipID like N* limits to candidates
Source <> P/PAC excludes contributions to PACs other than leadership PACs

****MUST COME BACK TO AND JOIN WITH PAC CANDIDATE CONTRIBUTIONS****

In [42]:
sc.sql('SELECT * FROM pq_crp_cmtes18').limit(10).show()

+-----+---------+--------------------+--------------------+--------------------+---------+---------+---------+-----+--------+------+---------+-------+------+
|cycle|   cmteid|            pacshort|           affiliate|              ultorg|  recipid|recipcode|feccandid|party|primcode|source|sensitive|foreign|active|
+-----+---------+--------------------+--------------------+--------------------+---------+---------+---------+-----+--------+------+---------+-------+------+
| 2018|C00000018|                    |                    |                    |C00000018|         |H8TX22313|     |        |      |         |  false|     0|
| 2018|C00000059|      Hallmark Cards|                    |      Hallmark Cards|C00000059|       PB|         |     |   C1400| WebAM|        n|  false|     1|
| 2018|C00000422|American Medical ...|American Medical ...|American Medical ...|C00000422|       PB|         |     |   H1100| AFP88|        n|  false|     1|
| 2018|C00000489| Teamsters Local 886|     Teamsters Union|     Teamsters Union|C00000489|       PL|         |     |   LT300|  Name|        N|  false|     1|
| 2018|C00000547| Kansas Medical Assn|American Medical ...|American Medical ...|C00000547|       PB|         |     |   H1100|  Name|        n|  false|     0|
| 2018|C00000638|Indiana Medical Assn|American Medical ...|American Medical ...|C00000638|       PB|         |     |   H1100| AFP88|        N|  false|     1|
| 2018|C00000729|American Dental Assn|American Dental Assn|American Dental Assn|C00000729|       PB|         |     |   H1400| AFP88|        n|  false|     1|
| 2018|C00000885|Painters & Allied...|Painters & Allied...|Painters & Allied...|C00000885|       PL|         |     |   LB100| AFP99|        N|  false|     1|
| 2018|C00000901|National Assn of ...|National Assn of ...|National Assn of ...|C00000901|       PB|         |     |   B2000| AFP88|        n|  false|     1|
| 2018|C00000935|Democratic Congre...|Democratic Congre...|Democratic Congre...|C00000935|       DP|         |    D|   Z5200|  Rept|        n|  false|     1|
+-----+---------+--------------------+--------------------+--------------------+---------+---------+---------+-----+--------+------+---------+-------+------+

In [12]:
sc.sql('SELECT primcode FROM pq_crp_cmtes18 GROUP BY primcode').count()

408

In [15]:
sc.sql('SELECT primcode FROM pq_crp_cmtes18 GROUP BY primcode').show(10)

+--------+
|primcode|
+--------+
|   C2100|
|   C1100|
|   T3100|
|   L1300|
|   T9000|
|   j7000|
|   J9000|
|   J1000|
|   M2400|
|   G6700|
+--------+
only showing top 10 rows

In [16]:
sc.sql('SELECT * FROM pq_crp_expends18').limit(1).show()

+-----+-------+-------------+----------+---------+--------+--------------------+-------+------+----------+----------+-----+---------+---------+------+----+--------------------+-----+---------+-------+------+
|Cycle|     ID|      TransID|CRPFilerid|Recipcode|Pacshort|        CRPRecipname|Expcode|Amount|      Date|      City|State|      Zip|CmteID_EF|Candid|Type|             Descrip|   PG|ElecOther|EntType|Source|
+-----+-------+-------------+----------+---------+--------+--------------------+-------+------+----------+----------+-----+---------+---------+------+----+--------------------+-----+---------+-------+------+
| 2018|8500179|SB23_86287240| C00401224|       PI| ActBlue|Progressive Turno...|    R50|   5.0|2017-07-05|NORTHBROOK|   IL|60065    |C00580068|      |    |Earmark Contribution|P2016|         |    PAC| @new2|
+-----+-------+-------------+----------+---------+--------+--------------------+-------+------+----------+----------+-----+---------+---------+------+----+--------------------+-----+---------+-------+------+

In [18]:
sc.sql('SELECT * FROM pq_crp_pacs18').limit(10).show()

+-----+-------------------+---------+---------+------+----------+--------+----+---+---------+
|cycle|           fecrecno|    pacid|      cid|amount|      date|realcode|type| di|feccandid|
+-----+-------------------+---------+---------+------+----------+--------+----+---+---------+
| 2018|4031520181518958016|C00150797|N00035527|1000.0|2018-02-06|   K1200| 24K|  D|H4AR04048|
| 2018|4021520181504727622|C00343459|N00028152|5000.0|2017-12-27|   H1130| 24K|  D|H6CA22125|
| 2018|4062120181570992000|C00005249|N00035509|3000.0|2018-05-18|   F3300| 24K|  D|H4IA03115|
| 2018|4121120171484669562|C00449165|N00003689|1000.0|2017-11-08|   M3100| 24K|  D|H8OH01043|
| 2018|4101220171458221652|C00171843|N00002408|5000.0|2017-09-21|   F3400| 24K|  D|H2SC02042|
| 2018|4051820181565917536|C00035675|N00031933|1000.0|2018-04-23|   H4300| 24K|  D|H0MA10082|
| 2018|4072420171429498467|C00035451|N00034584|2000.0|2017-06-27|   LT100| 24K|  D|S2ME00158|
| 2018|4112020171465723593|C00033779|N00035346|1000.0|2017-10-24|   F4100| 24K|  D|H4GA01039|
| 2018|4042720181530493912|C00502906|N00033518|1500.0|2018-03-22|   C6200| 24K|  D|H2GA09150|
| 2018|4022220181514504696|C00542431|N00003105|5000.0|2018-01-08|   J1100| 24K|  D|S8TN00337|
+-----+-------------------+---------+---------+------+----------+--------+----+---+---------+

In [20]:
sc.sql('SELECT * FROM pq_crp_pacs18').count()

191318

In [ ]:
need to joing the  pq_crp_pacs18 to the candidate table to get party detail. I think realcode and primcode are the same thing...
-To calculate direct contributions to candidates, you limit to DI = D

In [28]:
sc.sql('SELECT sum(amount) FROM pq_crp_pacs18 where di == "D"').limit(10).show()

+------------+
| sum(amount)|
+------------+
|3.21276746E8|
+------------+

In [ ]:
Need industry names!

In [113]:
import re
import pandas as pd
#crp_industry_names = ast.literal_eval(open("crp_industry_names.txt", "r").read
                                      
crp_industry_names = open("crp_industry_names.txt", "r").read()#.split('\t')
crp_industry_names
crp_industry_names = crp_industry_names.splitlines()


crp_industry_names = [re.split(r'\t+',x) for x in crp_industry_names]
crp_industry_names =pd.DataFrame(crp_industry_names)

crp_industry_names.columns=("Catcode","Catname","Catorder","Industry","Sector","Sector Long")
crp_industry_names= crp_industry_names[1:]
crp_industry_names.head()

,Catcode,Catname,Catorder,Industry,Sector,Sector Long
1,A0000,Agriculture,A11,Misc Agriculture,Agribusiness,Agribusiness
2,A1000,Crop production & basic processing,A01,Crop Production & Basic Processing,Agribusiness,Agribusiness
3,A1100,Cotton,A01,Crop Production & Basic Processing,Agribusiness,Agribusiness
4,A1200,Sugar cane & sugar beets,A01,Crop Production & Basic Processing,Agribusiness,Agribusiness
5,A1300,Tobacco & Tobacco products,A02,Tobacco,Agribusiness,Agribusiness

In [9]:
sc.sql('SELECT sector FROM pq_crp_industry_names GROUP BY Sector').show()

+--------------------+
|              sector|
+--------------------+
|               Labor|
|          Party Cmte|
|Finance/Insur/Rea...|
|Joint Candidate C...|
|Communic/Electronics|
| Lawyers & Lobbyists|
|Ideology/Single-I...|
|    Non-contribution|
|              Health|
|             Unknown|
|       Misc Business|
|               Other|
|        Construction|
|           Candidate|
|        Agribusiness|
| Energy/Nat Resource|
|             Defense|
|      Transportation|
+--------------------+

In [11]:
sc.sql('SELECT industry FROM pq_crp_industry_names GROUP BY industry').count()

103

In [39]:
sc.sql('SELECT * FROM pq_us_legislators').limit(1).show()

+---------+----------+-----------+------+--------+---------+----------+------+----+-----+--------+------------+-------------------+---+-------+-----+------------+-------+-------+--------+-------+----------+-----------+---------+--------------+------+--------+-----------+------------+--------------+------------------+--------+--------------------+
|last_name|first_name|middle_name|suffix|nickname|full_name|  birthday|gender|type|state|district|senate_class|              party|url|address|phone|contact_form|rss_url|twitter|facebook|youtube|youtube_id|bioguide_id|thomas_id|opensecrets_id|lis_id|cspan_id|govtrack_id|votesmart_id|ballotpedia_id|washington_post_id|icpsr_id|        wikipedia_id|
+---------+----------+-----------+------+--------+---------+----------+------+----+-----+--------+------------+-------------------+---+-------+-----+------------+-------+-------+--------+-------+----------+-----------+---------+--------------+------+--------+-----------+------------+--------------+------------------+--------+--------------------+
|  Bassett|   Richard|           |      |        |         |1745-04-02|     M| sen|   DE|        |           2|Anti-Administration|   |       |     |            |       |       |        |       |          |    B000226|         |              |      |        |     401222|            |              |                  |     507|Richard Bassett (...|
+---------+----------+-----------+------+--------+---------+----------+------+----+-----+--------+------------+-------------------+---+-------+-----+------------+-------+-------+--------+-------+----------+-----------+---------+--------------+------+--------+-----------+------------+--------------+------------------+--------+--------------------+

In [43]:
pq_us_legislators.dtypes

NameError: name 'pq_us_legislators' is not defined

In [46]:
sc.sql('SELECT pacid,t2.cid, amount, date, realcode,t1.type, di,t1.feccandid,firstlastp, t2.party, t3.Industry, t3.Sector, t4.bioguide_id  \
       FROM pq_crp_pacs18 t1 \
       INNER JOIN pq_crp_cands18 t2 \
       ON t1.feccandid= t2.feccandid \
       INNER JOIN pq_crp_industry_names t3 \
       ON t1.realcode = t3.Catcode \
       LEFT JOIN pq_us_legislators t4 \
       ON t2.cid = t4.opensecrets_id \
       WHERE di == "D" AND \
       realcode NOT LIKE "z9*%" AND \
       realcode NOT LIKE "z4*%"').limit(10).show()

#realcode is industry, this filters out transfers and joint fund raising committees

+---------+---------+------+----------+--------+----+---+---------+--------------------+-----+--------------------+--------------------+-----------+
|    pacid|      cid|amount|      date|realcode|type| di|feccandid|          firstlastp|party|            Industry|              Sector|bioguide_id|
+---------+---------+------+----------+--------+----+---+---------+--------------------+-----+--------------------+--------------------+-----------+
|C00150797|N00035527|1000.0|2018-02-06|   K1200| 24K|  D|H4AR04048| Bruce Westerman (R)|    R|   Lawyers/Law Firms| Lawyers & Lobbyists|    W000821|
|C00343459|N00028152|5000.0|2017-12-27|   H1130| 24K|  D|H6CA22125|  Kevin McCarthy (R)|    R|Health Professionals|              Health|    M001165|
|C00005249|N00035509|3000.0|2018-05-18|   F3300| 24K|  D|H4IA03115|     David Young (R)|    R|           Insurance|Finance/Insur/Rea...|    Y000066|
|C00449165|N00003689|1000.0|2017-11-08|   M3100| 24K|  D|H8OH01043|    Steve Chabot (R)|    R|Misc Manufacturin...|       Misc Business|    C000266|
|C00171843|N00002408|5000.0|2017-09-21|   F3400| 24K|  D|H2SC02042| James E Clyburn (D)|    D|           Insurance|Finance/Insur/Rea...|    C000537|
|C00035675|N00031933|1000.0|2018-04-23|   H4300| 24K|  D|H0MA10082|    Bill Keating (D)|    D|Pharmaceuticals/H...|              Health|    K000375|
|C00035451|N00034584|2000.0|2017-06-27|   LT100| 24K|  D|S2ME00158|  Bruce Poliquin (R)|    R|Transportation Un...|               Labor|    P000611|
|C00033779|N00035346|1000.0|2017-10-24|   F4100| 24K|  D|H4GA01039|    Buddy Carter (R)|    R|         Real Estate|Finance/Insur/Rea...|    C001103|
|C00502906|N00033518|1500.0|2018-03-22|   C6200| 24K|  D|H2GA09150|    Doug Collins (R)|    R|            Internet|Communic/Electronics|    C001093|
|C00542431|N00003105|5000.0|2018-01-08|   J1100| 24K|  D|S8TN00337|Marsha Blackburn (R)|    R|Republican/Conser...|Ideology/Single-I...|    B001243|
+---------+---------+------+----------+--------+----+---+---------+--------------------+-----+--------------------+--------------------+-----------+

## Create Links

In [49]:
sc.sql('SELECT sum(amount) ,feccandid, bioguide_id, firstlastp, party, Industry \
FROM (SELECT pacid,t2.cid, amount, date, realcode, t1.type, di,t1.feccandid,firstlastp, t2.party, t3.Industry, t3.Sector, t4.bioguide_id \
       FROM pq_crp_pacs18 t1 \
       INNER JOIN pq_crp_cands18 t2 \
       ON t1.feccandid= t2.feccandid \
       INNER JOIN pq_crp_industry_names t3 \
       ON t1.realcode = t3.Catcode \
       LEFT JOIN pq_us_legislators t4 \
       ON t1.cid = t4.opensecrets_id \
       WHERE di == "D" AND \
       realcode NOT LIKE "z9*%" AND \
       realcode NOT LIKE "z4*%") sub \
       GROUP BY feccandid,firstlastp,bioguide_id, party, Industry ').limit(10).show()

+-----------+---------+-----------+------------------+-----+--------------------+
|sum(amount)|feccandid|bioguide_id|        firstlastp|party|            Industry|
+-----------+---------+-----------+------------------+-----+--------------------+
|    66500.0|H6TX02079|    B001291|   Brian Babin (R)|    R|       Air Transport|
|    20000.0|H4WI04183|    M001160|    Gwen Moore (D)|    D|    Commercial Banks|
|    16000.0|H8OH05036|    L000566|Robert E Latta (R)|    R|Chemical & Relate...|
|   117100.0|S6UT00063|    H000338| Orrin G Hatch (R)|    R|Pharmaceuticals/H...|
|    12000.0|H6AK00045|    Y000033|     Don Young (R)|    R|Crop Production &...|
|    35250.0|H2CA08164|    C001094|     Paul Cook (R)|    R|Building Material...|
|    14000.0|H0VA02118|    T000477|Scott W Taylor (R)|    R|           Oil & Gas|
|     2000.0|H2OH17109|    R000577|      Tim Ryan (D)|    D|Health Services/HMOs|
|    11000.0|H8NY29032|    C001092| Chris Collins (R)|    R|               Dairy|
|     8500.0|H4MA06090|    M001196|  Seth Moulton (D)|    D|Misc Manufacturin...|
+-----------+---------+-----------+------------------+-----+--------------------+

In [51]:
industry_viz = (sc.sql('SELECT sum(amount) ,feccandid, bioguide_id, firstlastp, party, Industry \
FROM (SELECT pacid,t2.cid, amount, date, realcode, t1.type, di,t1.feccandid,firstlastp, t2.party, t3.Industry, t3.Sector, t4.bioguide_id \
       FROM pq_crp_pacs18 t1 \
       INNER JOIN pq_crp_cands18 t2 \
       ON t1.feccandid= t2.feccandid \
       INNER JOIN pq_crp_industry_names t3 \
       ON t1.realcode = t3.Catcode \
       LEFT JOIN pq_us_legislators t4 \
       ON t1.cid = t4.opensecrets_id \
       WHERE di == "D" AND \
       realcode NOT LIKE "z9*%" AND \
       realcode NOT LIKE "z4*%") sub \
       GROUP BY feccandid,firstlastp,bioguide_id, party, Industry '))

In [61]:
sc.sql('SELECT sum(amount) as contribution ,feccandid, bioguide_id, firstlastp, party, Industry \
FROM (SELECT pacid,t2.cid, amount, date, realcode, t1.type, di,t1.feccandid,firstlastp, t2.party, t3.Industry, t3.Sector, t4.bioguide_id \
       FROM pq_crp_pacs18 t1 \
       INNER JOIN pq_crp_cands18 t2 \
       ON t1.feccandid= t2.feccandid \
       INNER JOIN pq_crp_industry_names t3 \
       ON t1.realcode = t3.Catcode \
       LEFT JOIN pq_us_legislators t4 \
       ON t1.cid = t4.opensecrets_id \
       WHERE di == "D" AND \
       realcode NOT LIKE "z9*%" AND \
       realcode NOT LIKE "z4*%") sub \
       GROUP BY feccandid,firstlastp,bioguide_id, party, Industry ').flatMap(lambda row: {"source": row['Industry'], "target": row['feccandid'], "value": row['contribution']}).collect()

AttributeError: 'DataFrame' object has no attribute 'flatMap'

In [24]:
type(industry_viz)

pyspark.sql.dataframe.DataFrame

In [25]:
from pyspark.sql import HiveContext
sqlContext= HiveContext(sc)

industry_viz_data = sqlContext.createDataFrame(industry_viz)

TypeError: data is already a DataFrame

In [30]:
industry_viz[1]

Column<b'cid'>

Transforming into format needed for network viz

In [33]:
sc.sql('SELECT amount ,feccandid,firstlastp, party, Industry \
       FROM industry_viz').limit(10)

AnalysisException: 'Table or view not found: industry_viz; line 1 pos 65'

In [ ]:
grouped_src_dst = src_dst.groupby(['CMTE_ID', 'CAND_ID','STATE'])['TRANSACTION_AMT'].sum().reset_index()
#grouped_src_dst['TRANSACTION_AMT'].agg(np.sum)
grouped_src_dst.head()

In [63]:
industry_viz_data = industry_viz.toPandas()

In [64]:
industry_viz_data.head()

,sum(amount),feccandid,bioguide_id,firstlastp,party,Industry
0,66500.0,H6TX02079,B001291,Brian Babin (R),R,Air Transport
1,20000.0,H4WI04183,M001160,Gwen Moore (D),D,Commercial Banks
2,16000.0,H8OH05036,L000566,Robert E Latta (R),R,Chemical & Related Manufacturing
3,117100.0,S6UT00063,H000338,Orrin G Hatch (R),R,Pharmaceuticals/Health Products
4,12000.0,H6AK00045,Y000033,Don Young (R),R,Crop Production & Basic Processing

In [68]:
links_list = list(industry_viz_data.apply(lambda row: {"source": row['Industry'], "target": row['firstlastp'], "value": row['sum(amount)']}, axis=1))

In [69]:
links_list[1:10]

[{'source': 'Commercial Banks', 'target': 'Gwen Moore (D)', 'value': 20000.0},
 {'source': 'Chemical & Related Manufacturing',
  'target': 'Robert E Latta (R)',
  'value': 16000.0},
 {'source': 'Pharmaceuticals/Health Products',
  'target': 'Orrin G Hatch (R)',
  'value': 117100.0},
 {'source': 'Crop Production & Basic Processing',
  'target': 'Don Young (R)',
  'value': 12000.0},
 {'source': 'Building Materials & Equipment',
  'target': 'Paul Cook (R)',
  'value': 35250.0},
 {'source': 'Oil & Gas', 'target': 'Scott W Taylor (R)', 'value': 14000.0},
 {'source': 'Health Services/HMOs', 'target': 'Tim Ryan (D)', 'value': 2000.0},
 {'source': 'Dairy', 'target': 'Chris Collins (R)', 'value': 11000.0},
 {'source': 'Misc Manufacturing & Distributing',
  'target': 'Seth Moulton (D)',
  'value': 8500.0}]

## Making Nodes

In [96]:
import pandas as pd
df_nodes_I = pd.DataFrame(industry_viz_data.Industry.unique())
df_nodes_I["party"] = "Industry"
df_nodes_I['bioguide_id'] = 'flower'
df_nodes_I.columns = ['firstlastp' if x== 0 else x for x in df_nodes_P.columns]
df_nodes_I.head()

                           firstlastp     party bioguide_id
0                       Air Transport  Industry      flower
1                    Commercial Banks  Industry      flower
2    Chemical & Related Manufacturing  Industry      flower
3     Pharmaceuticals/Health Products  Industry      flower
4  Crop Production & Basic Processing  Industry      flower

In [97]:
df_nodes_P = industry_viz_data[['firstlastp', 'party', 'bioguide_id']]
df_nodes_P.head()

           firstlastp party bioguide_id
0     Brian Babin (R)     R     B001291
1      Gwen Moore (D)     D     M001160
2  Robert E Latta (R)     R     L000566
3   Orrin G Hatch (R)     R     H000338
4       Don Young (R)     R     Y000033

In [103]:
df_nodes_P['bioguide_id'].unique()

array(['B001291', 'M001160', 'L000566', 'H000338', 'Y000033', 'C001094',
       'T000477', 'R000577', 'C001092', 'M001196', 'T000250', 'P000592',
       'M001199', 'C001112', 'G000579', 'G000583', 'C001053', 'R000570',
       'A000373', 'I000055', 'N000015', 'R000395', 'S001187', 'S001196',
       'C001077', 'W000795', 'G000551', 'C001035', 'L000551', 'W000820',
       'R000601', 'R000307', 'M000312', 'R000591', 'K000384', 'H001074',
       'C001063', 'K000188', 'D000612', 'H001046', 'P000595', 'W000437',
       'H001068', 'M001170', 'S001194', 'R000486', 'F000464', 'R000595',
       'D000096', 'S001198', 'F000459', 'R000575', 'B001298', 'R000576',
       'J000299', 'H001077', 'S001190', 'R000487', 'G000555', 'F000062',
       'B001243', 'B001227', 'M001158', 'D000607', 'B001287', 'P000611',
       'C001068', 'S001199', 'P000604', 'G000386', 'S001197', 'R000593',
       'J000297', 'K000383', 'K000379', 'J000298', 'M001189', 'M001159',
       'E000297', 'B001236', 'G000359', 'S001176', 'T000238', 'J000289',
       'G000552', 'F000460', 'M001179', 'L000573', 'B001267', 'C001051',
       None, 'H001058', 'C001103', 'D000619', 'F000450', 'C001095',
       'K000367', 'K000376', 'M001187', 'V000081', 'J000300', 'D000624',
       'W000798', 'M001193', 'C001107', 'P000608', 'A000371', 'K000392',
       'F000466', 'M001156', 'A000055', 'E000294', 'W000810', 'G000558',
       'A000369', 'K000362', 'J000294', 'F000455', 'W000808', 'C001080',
       'D000191', 'A000374', 'S001183', 'T000472', 'M001201', 'B001260',
       'V000129', 'J000032', 'M000639', 'S001191', 'P000258', 'W000822',
       'S001200', 'B001270', 'C000141', 'C001059', 'C001070', 'L000562',
       'W000800', 'R000609', 'C001071', 'S000051', 'D000618', 'L000560',
       'J000290', 'L000583', 'J000292', 'B000575', 'K000393', 'K000385',
       'E000296', 'C001067', 'U000031', 'G000559', 'H001071', 'M001166',
       'C001108', 'H001069', 'K000380', 'H001067', 'R000583', 'C000127',
       'H001041', 'R000586', 'S001192', 'B001303', 'G000289', 'B001295',
       'L000587', 'D000604', 'P000609', 'F000449', 'N000189', 'B001297',
       'B001250', 'H001056', 'J000288', 'C001069', 'M001183', 'B001245',
       'L000557', 'L000589', 'A000375', 'L000575', 'G000577', 'M001165',
       'B001277', 'W000812', 'L000582', 'G000581', 'D000628', 'P000149',
       'T000467', 'L000570', 'S000033', 'B000944', 'Y000065', 'C001105',
       'C000537', 'C001047', 'P000593', 'B001293', 'R000604', 'D000197',
       'F000444', 'Y000063', 'L000563', 'J000255', 'B001289', 'C001048',
       'M001157', 'D000482', 'P000605', 'P000612', 'C001111', 'R000603',
       'D000598', 'N000181', 'D000625', 'C001087', 'V000132', 'A000370',
       'D000620', 'A000360', 'S001154', 'T000461', 'C001098', 'K000391',
       'C001091', 'G000580', 'K000381', 'C001038', 'B001300', 'S000522',
       'B001292', 'L000581', 'S001189', 'B000574', 'K000378', 'L000397',
       'H001047', 'S000364', 'B001275', 'T000462', 'L000578', 'G000546',
       'H001048', 'P000588', 'P000096', 'R000592', 'A000372', 'C001075',
       'J000126', 'D000600', 'B000490', 'S000185', 'S000480', 'F000457',
       'D000621', 'D000626', 'K000210', 'E000215', 'L000491', 'S001202',
       'S001170', 'C001109', 'H001079', 'R000608', 'B001301', 'M001200',
       'H001075', 'H001038', 'B000755', 'W000797', 'N000188', 'M001185',
       'W000802', 'L000564', 'G000574', 'N000032', 'W000816', 'F000451',
       'G000563', 'V000130', 'S001201', 'E000293', 'M000355', 'B001282',
       'R000588', 'L000579', 'P000449', 'S001203', 'L000569', 'S000510',
       'G000560', 'S001181', 'C001097', 'H001045', 'R000580', 'K000009',
       'C000266', 'B001285', 'M001184', 'D000616', 'S001180', 'F000454',
       'C000754', 'C001106', 'S000320', 'L000567', 'K000388', 'D000533',
       'P000606', 'L000480', 'G000585', 'G000377', 'P000613', 'B001281',
       'C000984', 'T000470', 'W000809', 'B000911', 'S001156', 'D000627',
       'G000584', 'M001180', 'P000594', 'C001084', 'M001111', 'T000469',
       'J000295', 'H001065', 'H001064', 'H001073', 'D000614', 'H001072',
       'G000566', 'E000298', 'M001181', 'L000586', 'L000287', 'B001230',
       'T000193', 'S000248', 'E000288', 'C001093', 'V000131', 'W000815',
       'R000605', 'R000584', 'S001165', 'M001177', 'Y000064', 'B000213',
       'F000461', 'O000170', 'C001088', 'S001148', 'B001290', 'C001113',
       'P000601', 'Z000017', 'R000515', 'W000791', 'S000250', 'Y000066',
       'C001078', 'E000179', 'H000874', 'M001202', 'C001090', 'I000024',
       'S000770', 'O000168', 'R000606', 'R000582', 'M001190', 'V000108',
       'H001078', 'R000122', 'M001195', 'R000599', 'B001305', 'K000382',
       'L000584', 'L000174', 'S001193', 'W000806', 'S001195', 'I000056',
       'C000059', 'H001053', 'H001059', 'M000934', 'T000474', 'Q000023',
       'B001302', 'P000034', 'M001169', 'C001056', 'W000821', 'N000147',
       'D000610', 'D000623', 'M001197', 'E000295', 'G000562', 'P000523',
       'W000819', 'G000576', 'S001184', 'M001163', 'O000171', 'S001157',
       'T000465', 'F000458', 'S000148', 'G000571', 'S001172', 'D000216',
       'L000559', 'W000805', 'U000039', 'N000190', 'L000263', 'C001061',
       'G000569', 'C001114', 'C000714', 'F000445', 'B001257', 'R000598',
       'C001049', 'B001251', 'R000607', 'B001261', 'P000610', 'B001284',
       'M000087', 'F000462', 'J000293', 'G000410', 'N000180', 'L000565',
       'D000617', 'C001062', 'K000387', 'F000465', 'T000464', 'R000585',
       'H001042', 'S001145', 'D000615', 'R000578', 'P000599', 'C001101',
       'N000002', 'C001072', 'K000386', 'T000460', 'N000184', 'T000463',
       'M001176', 'C001096', 'G000578', 'H001036', 'W000804', 'P000603',
       'B001278', 'C001110', 'C000880', 'L000574', 'T000476', 'C000174',
       'F000463', 'B001288', 'M000133', 'L000576', 'W000814', 'T000478',
       'C000567', 'D000399', 'K000375', 'B001304', 'B001294', 'S000583',
       'C001037', 'M001194', 'S001185', 'S001175', 'R000597', 'M001198',
       'W000779', 'L000585', 'G000582', 'M001137', 'G000553', 'K000390',
       'T000468', 'B001296', 'H001076', 'L000577', 'M000702', 'M000689',
       'B001248', 'B001135', 'P000607', 'H001050', 'H001052', 'C001066',
       'H001066', 'B001306', 'M001153', 'B001273', 'B001274', 'N000127',
       'F000372', 'B001269', 'L000554', 'P000197', 'H001034', 'V000128',
       'H000324', 'W000799', 'G000568', 'S001177', 'T000475', 'K000368',
       'H001061', 'B001286', 'M001143', 'S000244', 'H001070', 'N000179',
       'W000813', 'M001188', 'W000187', 'G000565', 'S001150', 'R000602',
       'C001115', 'D000622', 'B001299', 'D000563', 'S001141', 'Z000018',
       'K000389', 'C000286', 'F000448', 'M000933', 'W000817', 'S000344',
       'B001283', 'R000409', 'G000575', 'Y000062', 'E000285', 'S001168',
       'D000613', 'L000580', 'S000059', 'C001041', 'G000535', 'B000220',
       'A000368', 'R000146', 'M001182', 'P000598', 'N000182', 'B000287',
       'L000588', 'F000061', 'P000597', 'P000373', 'R000596', 'E000291',
       'R000053', 'G000573', 'T000473', 'B001233', 'R000600', 'H001051',
       'B001252', 'C001083', 'B001255', 'H001030', 'A000367', 'G000564',
       'S001188', 'H000206', 'S001179', 'N000185', 'M001144', 'D000611',
       'R000587', 'R000581', 'M001178', 'C000071', 'C001102', 'G000549',
       'L000553', 'S000030', 'T000266', 'L000571', 'P000602', 'B000657',
       'P000591', 'B001256', 'W000215', 'V000127', 'B001271', 'G000570',
       'J000296', 'B001254', 'B001234', 'S000749', 'H001057'],
      dtype=object)

In [98]:
df_nodes = pd.concat([df_nodes_P,df_nodes_I])
df_nodes.head()

           firstlastp party bioguide_id
0     Brian Babin (R)     R     B001291
1      Gwen Moore (D)     D     M001160
2  Robert E Latta (R)     R     L000566
3   Orrin G Hatch (R)     R     H000338
4       Don Young (R)     R     Y000033

In [101]:
df_nodes.shape

(27818, 3)

In [104]:
node_list = list(df_nodes.apply(lambda row: {"name": row['firstlastp'], "group": row['party'], "pic_id": row['bioguide_id']}, axis=1))

In [106]:
len(node_list)
node_list[-5:]

[{'name': 'Misc Agriculture', 'group': 'Industry', 'pic_id': 'flower'},
 {'name': 'Marijuana', 'group': 'Industry', 'pic_id': 'flower'},
 {'name': 'Joint Candidate Cmte', 'group': 'Industry', 'pic_id': 'flower'},
 {'name': 'Civil Servants/Public Officials',
  'group': 'Industry',
  'pic_id': 'flower'},
 {'name': 'Other', 'group': 'Industry', 'pic_id': 'flower'}]

### Merging Nodes and Links and exporting

In [107]:
json_prep = {"nodes":node_list, "links":links_list}
json_prep.keys()

dict_keys(['nodes', 'links'])

In [110]:
import json
json_dump = json.dumps(json_prep, indent=1, sort_keys=True)
filename_out = 'industry_try1.json'
json_out = open(filename_out,'w')
json_out.write(json_dump)
json_out.close()