# EDA - preping the industry data

In [41]:
import os.path as osp

In [1]:
import pyspark 
sc = pyspark.sql.SparkSession.Builder()\
        .master('yarn')\
        .config('spark.executor.instances', '1')\
        .appName('hive-matt')\
        .enableHiveSupport()\
        .getOrCreate()

In [2]:
sc

In [3]:
sc.sql('SHOW TABLES').collect()

[Row(database='default', tableName='pac_spending', isTemporary=False),
 Row(database='default', tableName='pac_spending_by_type', isTemporary=False),
 Row(database='default', tableName='pq_crp_cands18', isTemporary=False),
 Row(database='default', tableName='pq_crp_cmtes18', isTemporary=False),
 Row(database='default', tableName='pq_crp_expends18', isTemporary=False),
 Row(database='default', tableName='pq_crp_indivs18', isTemporary=False),
 Row(database='default', tableName='pq_crp_pac_other18', isTemporary=False),
 Row(database='default', tableName='pq_crp_pacs18', isTemporary=False),
 Row(database='default', tableName='pq_pp_bills', isTemporary=False),
 Row(database='default', tableName='pq_pp_sponsors', isTemporary=False),
 Row(database='default', tableName='pq_pp_titles', isTemporary=False)]

In [4]:
sc.sql('SELECT * FROM pq_crp_cands18').limit(10).show()

+-----+---------+---------+--------------------+-----+------------+----------+--------+---------+------+---------+------+
|cycle|feccandid|      cid|          firstlastp|party|distidrunfor|distidcurr|currcand|cyclecand|crpico|recipcode|nopacs|
+-----+---------+---------+--------------------+-----+------------+----------+--------+---------+------+---------+------+
| 2018|H6FL08221|N00028542|       D J Mauro (I)|    I|        FL08|          |        |         |      |       3N|      |
| 2018|H6NC09200|N00035491|     Mark Harris (R)|    R|        NC09|          |        |         |     O|       RO|      |
| 2018|H4NE01163|N00035619| Dennis Crawford (D)|    D|        NE01|          |        |        Y|     C|       DL|      |
| 2018|H0IN01127|N00041294| Arturas Kerelis (D)|    D|        IN01|          |        |         |      |       DN|      |
| 2018|H8AL02171|N00041295|     Barry Moore (R)|    R|        AL02|          |        |        Y|     C|       RL|      |
| 2018|H8AL04078|N00041296|      Mike Moses (R)|    R|        AL04|          |        |        Y|     C|       RN|      |
| 2018|H8AL04086|N00041297|  Rick Neighbors (D)|    D|        AL04|          |        |        Y|     C|       DL|      |
| 2018|H8AL05208|N00041298|Clayton Hinchman (R)|    R|        AL05|          |        |        Y|     C|       RL|      |
| 2018|H8AR02134|N00041299|    Paul Spencer (D)|    D|        AR02|          |        |        Y|     C|       DL|      |
| 2018|H8AR03074|N00041300|     Josh Mahony (D)|    D|        AR03|          |       Y|        Y|     C|       DC|      |
+-----+---------+---------+--------------------+-----+------------+----------+--------+---------+------+---------+------+

Does the individual table not have industry??

In [5]:
sc.sql('SELECT * FROM pq_crp_indivs18').limit(5).show()

+-----+-------------------+------------+------------------+---------+-------------------+------+--------+----------+------+------+---------------+-----+-----+---------+----+---------+---------+------+------------------+------------+-------------------+------+
|cycle|         fectransid|   contribid|           contrib|  recipid|            orgname|ultorg|realcode|      date|amount|street|           city|state|  zip|recipcode|type|   cmteid|  otherid|gender|         microfilm|  occupation|           employer|source|
+-----+-------------------+------------+------------------+---------+-------------------+------+--------+----------+------+------+---------------+-----+-----+---------+----+---------+---------+------+------------------+------------+-------------------+------+
| 2018|2103020171461527012|j1002215457 |   SCHULTZ, ANDREW|N00027522| 2 Building Lbj Ltd|      |   Y4000|2017-07-14|  2000|      |        ROWLETT|   TX|75030|       RI| 15 |C00494229|         |     M|201710200200354160|    INVESTOR|2 BUILDING LBJ LTD.|      |
| 2018|2103020171461527415|h30017558621|LANDENWICH, JOSEPH|N00027522| Kindred Healthcare|      |   H2100|2017-08-25|   625|      |     LOUISVILLE|   KY|40205|       RI| 15J|C00494229|         |     M|                  |    ATTORNEY| KINDRED HEALTHCARE| PAC  |
| 2018|2103020171461527427|Y0000032011L|     BATES, GORDON|N00027522|Bates Capitol Group|      |   K2000|2017-08-29|  1000|      |       PROSPECT|   KY|40059|       RI| 15J|C00494229|         |     M|                  |    ATTORNEY|BATES CAPITOL GROUP| WebCS|
| 2018|2103020171461527547|p0004908949@|      ARNOLD, LYNN|N00029016|         Unemployed|      |   Y1000|2017-08-16|    25|      |ROCHESTER HILLS|   MI|48309|       DI| 15E|C00570960|C00401224|     F|201710170200317763|NOT EMPLOYED|                N/A| Gen  |
| 2018|2103020171461527568|j1002221461 |  ASKIN, SEYMOUR R|N00029016|            Retired|      |   X1200|2017-09-13|   400|      |      GREENWICH|   CT|06831|       DI| 15 |C00570960|         |     M|201710170200317770|     RETIRED|                N/A| Gen  |
+-----+-------------------+------------+------------------+---------+-------------------+------+--------+----------+------+------+---------------+-----+-----+---------+----+---------+---------+------+------------------+------------+-------------------+------+

In [6]:
sc.sql('SELECT realcode, sum(amount), count(contribid) FROM pq_crp_indivs18 GROUP BY realcode ').count()

470

In [7]:
sc.sql('SELECT realcode, sum(amount) AS money, count(contribid) FROM pq_crp_indivs18 GROUP BY realcode ORDER BY money DESC').collect()

[Row(realcode='Z9500', money=307821522, count(contribid)=2563962),
 Row(realcode='Y4000', money=227928460, count(contribid)=571205),
 Row(realcode='X1200', money=186889529, count(contribid)=972393),
 Row(realcode='K1000', money=94909387, count(contribid)=161371),
 Row(realcode='F2700', money=65099756, count(contribid)=4112),
 Row(realcode='F2600', money=57948077, count(contribid)=14944),
 Row(realcode='J1200', money=55168158, count(contribid)=1102926),
 Row(realcode='Y1000', money=49244720, count(contribid)=279555),
 Row(realcode='F2100', money=49068817, count(contribid)=48934),
 Row(realcode='Z9000', money=48915983, count(contribid)=10148),
 Row(realcode='F4000', money=46599518, count(contribid)=39289),
 Row(realcode='J1100', money=40848862, count(contribid)=71784),
 Row(realcode='F4100', money=38014293, count(contribid)=15586),
 Row(realcode='LB100', money=34695187, count(contribid)=208341),
 Row(realcode='JE300', money=33903445, count(contribid)=8861),
 Row(realcode='K2000', money=32030999, count(contribid)=30104),
 Row(realcode='X4100', money=28263651, count(contribid)=6182),
 Row(realcode='G4700', money=27238362, count(contribid)=311),
 Row(realcode='H5100', money=26697179, count(contribid)=156087),
 Row(realcode='J7400', money=26358106, count(contribid)=129842),
 Row(realcode='Z9600', money=25227664, count(contribid)=8799),
 Row(realcode='F7000', money=24416497, count(contribid)=11053),
 Row(realcode='H1100', money=23864218, count(contribid)=59116),
 Row(realcode='H1130', money=20615937, count(contribid)=58756),
 Row(realcode='F4200', money=20158249, count(contribid)=38184),
 Row(realcode='F3100', money=19557617, count(contribid)=89973),
 Row(realcode='F1100', money=19421756, count(contribid)=119942),
 Row(realcode='F5100', money=18796777, count(contribid)=37795),
 Row(realcode='C1100', money=18353330, count(contribid)=41063),
 Row(realcode='F2500', money=17505936, count(contribid)=6104),
 Row(realcode='G0000', money=16164523, count(contribid)=50708),
 Row(realcode='X4110', money=15754802, count(contribid)=1654),
 Row(realcode='Y2000', money=15445827, count(contribid)=82268),
 Row(realcode='E1160', money=15244058, count(contribid)=66643),
 Row(realcode='M2300', money=14364161, count(contribid)=86885),
 Row(realcode='H2100', money=14296362, count(contribid)=42125),
 Row(realcode='E1120', money=13876585, count(contribid)=19020),
 Row(realcode='H4300', money=13626394, count(contribid)=129233),
 Row(realcode='G5200', money=13288686, count(contribid)=29199),
 Row(realcode='K1100', money=12482833, count(contribid)=25220),
 Row(realcode='E1150', money=12270522, count(contribid)=13535),
 Row(realcode='G6550', money=12253153, count(contribid)=2939),
 Row(realcode='J9000', money=11928554, count(contribid)=273011),
 Row(realcode='F4500', money=11450670, count(contribid)=9171),
 Row(realcode='K1200', money=11374524, count(contribid)=21475),
 Row(realcode='C5120', money=11098830, count(contribid)=33986),
 Row(realcode='G6500', money=10626771, count(contribid)=11627),
 Row(realcode='F2300', money=10503712, count(contribid)=11951),
 Row(realcode='D2000', money=10403390, count(contribid)=132084),
 Row(realcode='E1600', money=10332514, count(contribid)=67310),
 Row(realcode='F3300', money=9889028, count(contribid)=74534),
 Row(realcode='G2900', money=9665243, count(contribid)=15472),
 Row(realcode='T2300', money=9608397, count(contribid)=7800),
 Row(realcode='X3000', money=9380454, count(contribid)=52998),
 Row(realcode='J5100', money=9108730, count(contribid)=10392),
 Row(realcode='LC150', money=8972311, count(contribid)=41878),
 Row(realcode='B4000', money=8290582, count(contribid)=37060),
 Row(realcode='B1500', money=8153298, count(contribid)=13060),
 Row(realcode='C4500', money=8058762, count(contribid)=81941),
 Row(realcode='G2850', money=8047702, count(contribid)=6159),
 Row(realcode='B1000', money=7883239, count(contribid)=12417),
 Row(realcode='G5270', money=7819151, count(contribid)=8476),
 Row(realcode='F3200', money=7697785, count(contribid)=67288),
 Row(realcode='J7500', money=7674792, count(contribid)=136420),
 Row(realcode='G6400', money=7656243, count(contribid)=2213),
 Row(realcode='L1300', money=7535190, count(contribid)=12777),
 Row(realcode='E1620', money=7469471, count(contribid)=58529),
 Row(realcode='H3700', money=7161835, count(contribid)=62316),
 Row(realcode='E1110', money=6822720, count(contribid)=28542),
 Row(realcode='T5100', money=6806612, count(contribid)=59829),
 Row(realcode='T9100', money=6754138, count(contribid)=10320),
 Row(realcode='B2000', money=6632166, count(contribid)=12487),
 Row(realcode='A1000', money=6508016, count(contribid)=13630),
 Row(realcode='D3000', money=6466924, count(contribid)=60595),
 Row(realcode='C2400', money=6397258, count(contribid)=10833),
 Row(realcode='A1200', money=6288995, count(contribid)=8440),
 Row(realcode='F5000', money=6269160, count(contribid)=7139),
 Row(realcode='C2100', money=6080429, count(contribid)=14499),
 Row(realcode='B5100', money=5994302, count(contribid)=10102),
 Row(realcode='H4100', money=5967523, count(contribid)=22573),
 Row(realcode='F1400', money=5722300, count(contribid)=22927),
 Row(realcode='LT100', money=5707744, count(contribid)=67729),
 Row(realcode='G2500', money=5657575, count(contribid)=3145),
 Row(realcode='F4600', money=5527107, count(contribid)=8187),
 Row(realcode='E1140', money=5439054, count(contribid)=31844),
 Row(realcode='H2200', money=5406181, count(contribid)=9281),
 Row(realcode='B6000', money=5298386, count(contribid)=7613),
 Row(realcode='G5210', money=5255430, count(contribid)=5739),
 Row(realcode='H4500', money=5171587, count(contribid)=19913),
 Row(realcode='L1200', money=5154100, count(contribid)=29437),
 Row(realcode='F2110', money=5130506, count(contribid)=6357),
 Row(realcode='C4100', money=5068432, count(contribid)=53717),
 Row(realcode='F3400', money=5018075, count(contribid)=33824),
 Row(realcode='C2300', money=4905269, count(contribid)=2714),
 Row(realcode='H3000', money=4841025, count(contribid)=6419),
 Row(realcode='C5110', money=4822725, count(contribid)=20602),
 Row(realcode='A3000', money=4691905, count(contribid)=7051),
 Row(realcode='G2820', money=4642945, count(contribid)=5986),
 Row(realcode='T1100', money=4575158, count(contribid)=29655),
 Row(realcode='H1110', money=4547626, count(contribid)=27288),
 Row(realcode='E1210', money=4515091, count(contribid)=3963),
 Row(realcode='C5130', money=4499339, count(contribid)=11731),
 Row(realcode='X4000', money=4496398, count(contribid)=4056),
 Row(realcode='H1400', money=4463949, count(contribid)=11771),
 Row(realcode='E1500', money=4460260, count(contribid)=9503),
 Row(realcode='M1000', money=4420228, count(contribid)=29125),
 Row(realcode='C6000', money=4412153, count(contribid)=3579),
 Row(realcode='C2000', money=4341842, count(contribid)=8143),
 Row(realcode='T3100', money=4318106, count(contribid)=7053),
 Row(realcode='E1100', money=4205297, count(contribid)=6803),
 Row(realcode='F1000', money=4066316, count(contribid)=6969),
 Row(realcode='X0000', money=3881308, count(contribid)=13779),
 Row(realcode='F0000', money=3702744, count(contribid)=4716),
 Row(realcode='T2310', money=3683975, count(contribid)=3968),
 Row(realcode='A1300', money=3618496, count(contribid)=23354),
 Row(realcode='LM100', money=3605287, count(contribid)=25411),
 Row(realcode='C5000', money=3560315, count(contribid)=9246),
 Row(realcode='A2300', money=3478558, count(contribid)=1033),
 Row(realcode='M3300', money=3473790, count(contribid)=2705),
 Row(realcode='T2100', money=3465374, count(contribid)=59819),
 Row(realcode='H4400', money=3437314, count(contribid)=31595),
 Row(realcode='X3500', money=3426888, count(contribid)=29386),
 Row(realcode='M2100', money=3398754, count(contribid)=5935),
 Row(realcode='A1400', money=3284458, count(contribid)=3698),
 Row(realcode='T2200', money=3248315, count(contribid)=6778),
 Row(realcode='F1200', money=3134328, count(contribid)=1070),
 Row(realcode='H3200', money=3119101, count(contribid)=10497),
 Row(realcode='F2000', money=3110903, count(contribid)=9268),
 Row(realcode='B4200', money=3072202, count(contribid)=10656),
 Row(realcode='C5400', money=3012169, count(contribid)=3099),
 Row(realcode='F5500', money=2998930, count(contribid)=3395),
 Row(realcode='C6200', money=2952558, count(contribid)=2911),
 Row(realcode='J6200', money=2924589, count(contribid)=13471),
 Row(realcode='C6300', money=2906991, count(contribid)=10884),
 Row(realcode='z9600', money=2892670, count(contribid)=8227),
 Row(realcode='G4800', money=2883808, count(contribid)=595),
 Row(realcode='G2100', money=2865644, count(contribid)=6272),
 Row(realcode='A4000', money=2848923, count(contribid)=10228),
 Row(realcode='G2000', money=2847916, count(contribid)=759),
 Row(realcode='C5200', money=2845915, count(contribid)=3266),
 Row(realcode='E1700', money=2843416, count(contribid)=632),
 Row(realcode='T2500', money=2834553, count(contribid)=9803),
 Row(realcode='A5000', money=2813395, count(contribid)=5938),
 Row(realcode='A2000', money=2736573, count(contribid)=6101),
 Row(realcode='G2400', money=2714052, count(contribid)=14021),
 Row(realcode='H1120', money=2688377, count(contribid)=7480),
 Row(realcode='G4300', money=2683293, count(contribid)=22509),
 Row(realcode='E1000', money=2631175, count(contribid)=3435),
 Row(realcode='G5260', money=2597576, count(contribid)=1668),
 Row(realcode='C2600', money=2550610, count(contribid)=9594),
 Row(realcode='F4300', money=2549818, count(contribid)=4103),
 Row(realcode='M3100', money=2453718, count(contribid)=2067),
 Row(realcode='B3000', money=2429984, count(contribid)=4889),
 Row(realcode='G4900', money=2375916, count(contribid)=13601),
 Row(realcode='G2810', money=2369282, count(contribid)=9628),
 Row(realcode='J7150', money=2309536, count(contribid)=3300),
 Row(realcode='F1420', money=2304355, count(contribid)=4459),
 Row(realcode='L1400', money=2289116, count(contribid)=24701),
 Row(realcode='G5000', money=2248139, count(contribid)=10155),
 Row(realcode='H5300', money=2248072, count(contribid)=4624),
 Row(realcode='T7100', money=2205929, count(contribid)=21630),
 Row(realcode='LC100', money=2181160, count(contribid)=16824),
 Row(realcode='T6200', money=2163276, count(contribid)=6923),
 Row(realcode='E1170', money=2138419, count(contribid)=1340),
 Row(realcode='L1100', money=2134996, count(contribid)=10823),
 Row(realcode='J7300', money=2082147, count(contribid)=33886),
 Row(realcode='B3200', money=2079812, count(contribid)=2608),
 Row(realcode='G5240', money=2055142, count(contribid)=5602),
 Row(realcode='F2200', money=2022007, count(contribid)=2602),
 Row(realcode='C4000', money=2002415, count(contribid)=1225),
 Row(realcode='G4100', money=2001189, count(contribid)=1892),
 Row(realcode='H0000', money=1994753, count(contribid)=5568),
 Row(realcode='G5250', money=1965962, count(contribid)=4274),
 Row(realcode='X5000', money=1908811, count(contribid)=8650),
 Row(realcode='H1710', money=1888143, count(contribid)=14525),
 Row(realcode='G4600', money=1861477, count(contribid)=4405),
 Row(realcode='C4300', money=1850738, count(contribid)=16512),
 Row(realcode='X7000', money=1812847, count(contribid)=12297),
 Row(realcode='F1300', money=1772051, count(contribid)=19866),
 Row(realcode='C6400', money=1768501, count(contribid)=10053),
 Row(realcode='E3000', money=1761267, count(contribid)=7394),
 Row(realcode='H5000', money=1736714, count(contribid)=6446),
 Row(realcode='A4100', money=1680355, count(contribid)=2244),
 Row(realcode='B5000', money=1675082, count(contribid)=465),
 Row(realcode='X3100', money=1648662, count(contribid)=3099),
 Row(realcode='M2000', money=1628361, count(contribid)=2815),
 Row(realcode='B4400', money=1626880, count(contribid)=6701),
 Row(realcode='G6100', money=1602118, count(contribid)=797),
 Row(realcode='C2700', money=1586972, count(contribid)=538),
 Row(realcode='A5200', money=1570883, count(contribid)=8857),
 Row(realcode='M1500', money=1541368, count(contribid)=5134),
 Row(realcode='C2200', money=1540628, count(contribid)=4563),
 Row(realcode='B5200', money=1537946, count(contribid)=894),
 Row(realcode='E0000', money=1537476, count(contribid)=149),
 Row(realcode='X4200', money=1532519, count(contribid)=3883),
 Row(realcode='H1700', money=1487460, count(contribid)=11108),
 Row(realcode='T9300', money=1465612, count(contribid)=2078),
 Row(realcode='D9000', money=1447637, count(contribid)=7542),
 Row(realcode='G7000', money=1434966, count(contribid)=5121),
 Row(realcode='T6100', money=1432083, count(contribid)=868),
 Row(realcode='M5000', money=1431875, count(contribid)=1276),
 Row(realcode='H2000', money=1399940, count(contribid)=2118),
 Row(realcode='C6100', money=1395025, count(contribid)=527),
 Row(realcode='G4000', money=1392650, count(contribid)=2943),
 Row(realcode='A3100', money=1391017, count(contribid)=1278),
 Row(realcode='F5300', money=1384415, count(contribid)=7023),
 Row(realcode='J6100', money=1380734, count(contribid)=9168),
 Row(realcode='L1500', money=1376051, count(contribid)=32508),
 Row(realcode='G4500', money=1361125, count(contribid)=34124),
 Row(realcode='H6000', money=1355231, count(contribid)=5872),
 Row(realcode='G2600', money=1354234, count(contribid)=13110),
 Row(realcode='H4600', money=1338935, count(contribid)=15592),
 Row(realcode='A1600', money=1306292, count(contribid)=1756),
 Row(realcode='B5400', money=1250175, count(contribid)=595),
 Row(realcode='B0500', money=1213273, count(contribid)=2422),
 Row(realcode='G1000', money=1204284, count(contribid)=1157),
 Row(realcode='H3900', money=1190502, count(contribid)=2821),
 Row(realcode='F2400', money=1175257, count(contribid)=842),
 Row(realcode='E1320', money=1162669, count(contribid)=5721),
 Row(realcode='F4700', money=1140618, count(contribid)=1491),
 Row(realcode='E1610', money=1134078, count(contribid)=7420),
 Row(realcode='C2900', money=1131845, count(contribid)=2080),
 Row(realcode='H1750', money=1075419, count(contribid)=4367),
 Row(realcode='H5150', money=1074678, count(contribid)=6483),
 Row(realcode='G1100', money=1048186, count(contribid)=1028),
 Row(realcode='C4600', money=1045814, count(contribid)=9576),
 Row(realcode='F5200', money=1037595, count(contribid)=7623),
 Row(realcode='E1200', money=1036088, count(contribid)=761),
 Row(realcode='M8000', money=1008068, count(contribid)=1168),
 Row(realcode='A1100', money=993602, count(contribid)=1632),
 Row(realcode='A1500', money=972329, count(contribid)=1293),
 Row(realcode='M3200', money=960348, count(contribid)=830),
 Row(realcode='B3400', money=957218, count(contribid)=2647),
 Row(realcode='E1240', money=944050, count(contribid)=349),
 Row(realcode='X3200', money=927937, count(contribid)=4574),
 Row(realcode='A8000', money=918628, count(contribid)=1150),
 Row(realcode='T9000', money=903168, count(contribid)=1719),
 Row(realcode='H3800', money=897833, count(contribid)=669),
 Row(realcode='JH100', money=891912, count(contribid)=904),
 Row(realcode='J7700', money=888342, count(contribid)=271),
 Row(realcode='L5000', money=881698, count(contribid)=2989),
 Row(realcode='M0000', money=880390, count(contribid)=2814),
 Row(realcode='C4400', money=875570, count(contribid)=3515),
 Row(realcode='J2200', money=862248, count(contribid)=488),
 Row(realcode='G5290', money=860950, count(contribid)=1766),
 Row(realcode='G2200', money=854865, count(contribid)=1317),
 Row(realcode='B3600', money=826732, count(contribid)=3048),
 Row(realcode='H3100', money=822466, count(contribid)=3023),
 Row(realcode='F3000', money=817276, count(contribid)=3408),
 Row(realcode='M7000', money=813883, count(contribid)=770),
 Row(realcode='E1300', money=812262, count(contribid)=5840),
 Row(realcode='G2700', money=808216, count(contribid)=1248),
 Row(realcode='G2300', money=800019, count(contribid)=3643),
 Row(realcode='H5170', money=764608, count(contribid)=2196),
 Row(realcode='T1700', money=757862, count(contribid)=1464),
 Row(realcode='M7100', money=753426, count(contribid)=1825),
 Row(realcode='M2200', money=753119, count(contribid)=1382),
 Row(realcode='C6500', money=751845, count(contribid)=1114),
 Row(realcode='M2400', money=747251, count(contribid)=760),
 Row(realcode='A4200', money=747208, count(contribid)=11816),
 Row(realcode='H4000', money=741309, count(contribid)=11705),
 Row(realcode='A4500', money=738531, count(contribid)=3211),
 Row(realcode='T9400', money=738282, count(contribid)=2031),
 Row(realcode='J1000', money=736700, count(contribid)=261),
 Row(realcode='G5800', money=725284, count(contribid)=2718),
 Row(realcode='T2000', money=711637, count(contribid)=254),
 Row(realcode='M1300', money=710958, count(contribid)=2247),
 Row(realcode='C1300', money=706829, count(contribid)=1304),
 Row(realcode='T1000', money=691491, count(contribid)=213),
 Row(realcode='E1630', money=685115, count(contribid)=8997),
 Row(realcode='G1200', money=661728, count(contribid)=2095),
 Row(realcode='H3400', money=657868, count(contribid)=1495),
 Row(realcode='T3200', money=657827, count(contribid)=3323),
 Row(realcode='M9000', money=654960, count(contribid)=1698),
 Row(realcode='D5000', money=654558, count(contribid)=4972),
 Row(realcode='LT500', money=652767, count(contribid)=5942),
 Row(realcode='T1300', money=649517, count(contribid)=2578),
 Row(realcode='T1600', money=648802, count(contribid)=1043),
 Row(realcode='M4100', money=643642, count(contribid)=782),
 Row(realcode='G3000', money=640185, count(contribid)=485),
 Row(realcode='E1220', money=631040, count(contribid)=3251),
 Row(realcode='G4400', money=626445, count(contribid)=408),
 Row(realcode='G5280', money=626106, count(contribid)=2376),
 Row(realcode='D4000', money=613074, count(contribid)=1673),
 Row(realcode='Z9999', money=610000, count(contribid)=5),
 Row(realcode='E5000', money=609785, count(contribid)=7909),
 Row(realcode='T6250', money=601474, count(contribid)=412),
 Row(realcode='C5100', money=595719, count(contribid)=2913),
 Row(realcode='M5100', money=576271, count(contribid)=244),
 Row(realcode='A6000', money=564057, count(contribid)=5137),
 Row(realcode='G5300', money=563588, count(contribid)=1548),
 Row(realcode='A0000', money=558548, count(contribid)=1488),
 Row(realcode='C0000', money=553114, count(contribid)=768),
 Row(realcode='G5400', money=552074, count(contribid)=4239),
 Row(realcode='LT300', money=551449, count(contribid)=23726),
 Row(realcode='G2350', money=550738, count(contribid)=1982),
 Row(realcode='M1600', money=550399, count(contribid)=2119),
 Row(realcode='B5300', money=548601, count(contribid)=243),
 Row(realcode='A3500', money=548258, count(contribid)=665),
 Row(realcode='E2000', money=546680, count(contribid)=1058),
 Row(realcode='LG100', money=545503, count(contribid)=7200),
 Row(realcode='F1410', money=544184, count(contribid)=2890),
 Row(realcode='LG400', money=543860, count(contribid)=2798),
 Row(realcode='T1200', money=529329, count(contribid)=1783),
 Row(realcode='G5230', money=523822, count(contribid)=1089),
 Row(realcode='M7300', money=522475, count(contribid)=593),
 Row(realcode='M3400', money=517980, count(contribid)=584),
 Row(realcode='G2910', money=515836, count(contribid)=1166),
 Row(realcode='T5300', money=514458, count(contribid)=369),
 Row(realcode='M2250', money=494480, count(contribid)=168),
 Row(realcode='JD200', money=486190, count(contribid)=2161),
 Row(realcode='H5200', money=484037, count(contribid)=612),
 Row(realcode='LG300', money=476816, count(contribid)=6902),
 Row(realcode='J7600', money=470499, count(contribid)=216),
 Row(realcode='T1400', money=468156, count(contribid)=1919),
 Row(realcode='T7000', money=468025, count(contribid)=450),
 Row(realcode='G2800', money=451568, count(contribid)=900),
 Row(realcode='B5500', money=434132, count(contribid)=119),
 Row(realcode='E4100', money=428219, count(contribid)=701),
 Row(realcode='Y3000', money=420715, count(contribid)=837),
 Row(realcode='J7120', money=412412, count(contribid)=540),

^Looks like all individuals have an industry, which is impressive given the number of blanks. Maybe one of the codes is unknown. Haven't found a translation table yet for realcodes

criteria for filter individuals:
    
* Realcode not like Z9* (these are noncontributions)
* Limit types to 10, 11, 15, 15E, 15J, 22Y
* Remember that Type 10 is soft money before 2004 and Levin Funds or outside spending 2004+
* RecipID like N* limits to candidates
* Source <> P/PAC excludes contributions to PACs other than leadership PACs

****MUST COME BACK TO AND JOIN WITH PAC CANDIDATE CONTRIBUTIONS****

In [8]:
sc.sql('SELECT * FROM pq_crp_cmtes18').limit(10).show()

+-----+---------+--------------------+--------------------+--------------------+---------+---------+---------+-----+--------+------+---------+-------+------+
|cycle|   cmteid|            pacshort|           affiliate|              ultorg|  recipid|recipcode|feccandid|party|primcode|source|sensitive|foreign|active|
+-----+---------+--------------------+--------------------+--------------------+---------+---------+---------+-----+--------+------+---------+-------+------+
| 2018|C00000018|                    |                    |                    |C00000018|         |H8TX22313|     |        |      |         |  false|     0|
| 2018|C00000059|      Hallmark Cards|                    |      Hallmark Cards|C00000059|       PB|         |     |   C1400| WebAM|        n|  false|     1|
| 2018|C00000422|American Medical ...|American Medical ...|American Medical ...|C00000422|       PB|         |     |   H1100| AFP88|        n|  false|     1|
| 2018|C00000489| Teamsters Local 886|     Teamsters Union|     Teamsters Union|C00000489|       PL|         |     |   LT300|  Name|        N|  false|     1|
| 2018|C00000547| Kansas Medical Assn|American Medical ...|American Medical ...|C00000547|       PB|         |     |   H1100|  Name|        n|  false|     0|
| 2018|C00000638|Indiana Medical Assn|American Medical ...|American Medical ...|C00000638|       PB|         |     |   H1100| AFP88|        N|  false|     1|
| 2018|C00000729|American Dental Assn|American Dental Assn|American Dental Assn|C00000729|       PB|         |     |   H1400| AFP88|        n|  false|     1|
| 2018|C00000885|Painters & Allied...|Painters & Allied...|Painters & Allied...|C00000885|       PL|         |     |   LB100| AFP99|        N|  false|     1|
| 2018|C00000901|National Assn of ...|National Assn of ...|National Assn of ...|C00000901|       PB|         |     |   B2000| AFP88|        n|  false|     1|
| 2018|C00000935|Democratic Congre...|Democratic Congre...|Democratic Congre...|C00000935|       DP|         |    D|   Z5200|  Rept|        n|  false|     1|
+-----+---------+--------------------+--------------------+--------------------+---------+---------+---------+-----+--------+------+---------+-------+------+

In [9]:
sc.sql('SELECT primcode FROM pq_crp_cmtes18 GROUP BY primcode').count()

408

In [10]:
sc.sql('SELECT primcode FROM pq_crp_cmtes18 GROUP BY primcode').show(10)

+--------+
|primcode|
+--------+
|   C2100|
|   C1100|
|   T3100|
|   L1300|
|   T9000|
|   j7000|
|   J9000|
|   J1000|
|   M2400|
|   G6700|
+--------+
only showing top 10 rows

In [11]:
sc.sql('SELECT * FROM pq_crp_expends18').limit(1).show()

+-----+---+-----------------+----------+---------+--------------------+-------------+-------+------+----------+-----------+-----+---------+---------+------+----+------------------+-----+---------+-------+------+
|Cycle| ID|          TransID|CRPFilerid|Recipcode|            Pacshort| CRPRecipname|Expcode|Amount|      Date|       City|State|      Zip|CmteID_EF|Candid|Type|           Descrip|   PG|ElecOther|EntType|Source|
+-----+---+-----------------+----------+---------+--------------------+-------------+-------+------+----------+-----------+-----+---------+---------+------+----+------------------+-----+---------+-------+------+
| 2018|  1|SB21B-11865-10000| C00460147|       DP|DNC/Travel Offset...|W Los Angeles|    F30| 554.0|2017-01-18|Los Angeles|   CA|90024    |         |      |    |Lodging & Catering|     |         |    ORG|  @new|
+-----+---+-----------------+----------+---------+--------------------+-------------+-------+------+----------+-----------+-----+---------+---------+------+----+------------------+-----+---------+-------+------+

In [12]:
sc.sql('SELECT * FROM pq_crp_pacs18').limit(10).show()

+-----+-------------------+---------+---------+------+----------+--------+----+---+---------+
|cycle|           fecrecno|    pacid|      cid|amount|      date|realcode|type| di|feccandid|
+-----+-------------------+---------+---------+------+----------+--------+----+---+---------+
| 2018|4031520181518958016|C00150797|N00035527|1000.0|2018-02-06|   K1200| 24K|  D|H4AR04048|
| 2018|4021520181504727622|C00343459|N00028152|5000.0|2017-12-27|   H1130| 24K|  D|H6CA22125|
| 2018|4062120181570992000|C00005249|N00035509|3000.0|2018-05-18|   F3300| 24K|  D|H4IA03115|
| 2018|4121120171484669562|C00449165|N00003689|1000.0|2017-11-08|   M3100| 24K|  D|H8OH01043|
| 2018|4101220171458221652|C00171843|N00002408|5000.0|2017-09-21|   F3400| 24K|  D|H2SC02042|
| 2018|4051820181565917536|C00035675|N00031933|1000.0|2018-04-23|   H4300| 24K|  D|H0MA10082|
| 2018|4072420171429498467|C00035451|N00034584|2000.0|2017-06-27|   LT100| 24K|  D|S2ME00158|
| 2018|4112020171465723593|C00033779|N00035346|1000.0|2017-10-24|   F4100| 24K|  D|H4GA01039|
| 2018|4042720181530493912|C00502906|N00033518|1500.0|2018-03-22|   C6200| 24K|  D|H2GA09150|
| 2018|4022220181514504696|C00542431|N00003105|5000.0|2018-01-08|   J1100| 24K|  D|S8TN00337|
+-----+-------------------+---------+---------+------+----------+--------+----+---+---------+

In [13]:
sc.sql('SELECT * FROM pq_crp_pacs18').count()

191318

need to joing the  pq_crp_pacs18 to the candidate table to get party detail. I think realcode and primcode are the same thing...
* To calculate direct contributions to candidates, you limit to DI = D

In [15]:
sc.sql('SELECT sum(amount) FROM pq_crp_pacs18 where di == "D"').limit(10).show()

+------------+
| sum(amount)|
+------------+
|3.21276746E8|
+------------+

In [16]:
sc.sql('SELECT pacid,t2.cid, amount, date, realcode,type, di,t1.feccandid,firstlastp,party \
       FROM pq_crp_pacs18 t1 \
       INNER JOIN pq_crp_cands18 t2 \
       ON t1.feccandid= t2.feccandid \
       WHERE di == "D" AND \
       realcode NOT LIKE "z9*%" AND \
       realcode NOT LIKE "z4*%"').limit(10).show()

#realcode is industry, this filters out transfers and joint fund raising committees

+---------+---------+------+----------+--------+----+---+---------+--------------------+-----+
|    pacid|      cid|amount|      date|realcode|type| di|feccandid|          firstlastp|party|
+---------+---------+------+----------+--------+----+---+---------+--------------------+-----+
|C00150797|N00035527|1000.0|2018-02-06|   K1200| 24K|  D|H4AR04048| Bruce Westerman (R)|    R|
|C00343459|N00028152|5000.0|2017-12-27|   H1130| 24K|  D|H6CA22125|  Kevin McCarthy (R)|    R|
|C00005249|N00035509|3000.0|2018-05-18|   F3300| 24K|  D|H4IA03115|     David Young (R)|    R|
|C00449165|N00003689|1000.0|2017-11-08|   M3100| 24K|  D|H8OH01043|    Steve Chabot (R)|    R|
|C00171843|N00002408|5000.0|2017-09-21|   F3400| 24K|  D|H2SC02042| James E Clyburn (D)|    D|
|C00035675|N00031933|1000.0|2018-04-23|   H4300| 24K|  D|H0MA10082|    Bill Keating (D)|    D|
|C00035451|N00034584|2000.0|2017-06-27|   LT100| 24K|  D|S2ME00158|  Bruce Poliquin (R)|    R|
|C00033779|N00035346|1000.0|2017-10-24|   F4100| 24K|  D|H4GA01039|    Buddy Carter (R)|    R|
|C00502906|N00033518|1500.0|2018-03-22|   C6200| 24K|  D|H2GA09150|    Doug Collins (R)|    R|
|C00542431|N00003105|5000.0|2018-01-08|   J1100| 24K|  D|S8TN00337|Marsha Blackburn (R)|    R|
+---------+---------+------+----------+--------+----+---+---------+--------------------+-----+

Need industry names!

In [19]:
import re
import pandas as pd
#crp_industry_names = ast.literal_eval(open("crp_industry_names.txt", "r").read
                                      
crp_industry_names = open("crp_industry_names.txt", "r").read()#.split('\t')
crp_industry_names
crp_industry_names = crp_industry_names.splitlines()


crp_industry_names = [re.split(r'\t+',x) for x in crp_industry_names]
crp_industry_names =pd.DataFrame(crp_industry_names)

crp_industry_names.columns=("Catcode","Catname","Catorder","Industry","Sector","Sector Long")
crp_industry_names= crp_industry_names[1:]
crp_industry_names.head()

,Catcode,Catname,Catorder,Industry,Sector,Sector Long
1,A0000,Agriculture,A11,Misc Agriculture,Agribusiness,Agribusiness
2,A1000,Crop production & basic processing,A01,Crop Production & Basic Processing,Agribusiness,Agribusiness
3,A1100,Cotton,A01,Crop Production & Basic Processing,Agribusiness,Agribusiness
4,A1200,Sugar cane & sugar beets,A01,Crop Production & Basic Processing,Agribusiness,Agribusiness
5,A1300,Tobacco & Tobacco products,A02,Tobacco,Agribusiness,Agribusiness

In [20]:
ind_names = sc.broadcast(crp_industry_names)

AttributeError: 'SparkSession' object has no attribute 'broadcast'

In [21]:
from pyspark.sql import SQLContext
sqlCtx = SQLContext(sc)
crp_industry_names = sqlCtx.createDataFrame(data = crp_industry_names)

In [22]:
crp_industry_names

DataFrame[Catcode: string, Catname: string, Catorder: string, Industry: string, Sector: string, Sector Long: string]

In [35]:
import pyspark
from pyspark.sql.types import StringType, IntegerType, StructType, StructField, FloatType, BooleanType, DateType
import time
import datetime


IndnamesSchemaStr = [
'''Catcode
Unique indentifier for each industry. Same is Prim_code or realcode
Text (5)
CRP''',

'''Catname
Name for each industry
Text (9)
FEC''',

'''Catorder
Grouping similar industries together with a code, NOT an abbreviation of Catcode
Text (3)
CRP''',

'''Industry
Not really a one to one with any level of NAICS
Text (25)
CRP''',
    
'''Sector
A level up from Industry 
Text (15)
CRP''',

'''SectorLong
A level up from Industry 
Text (40)
CRP''' 
]

def now():
    return datetime.datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d %H:%M:%S.%f')

In [36]:
from open_secrets_schema import Schema
cands18Schema = Schema(IndnamesSchemaStr)
cands18 = pd.read_csv('crp_industry_names.txt', quotechar='"', delimiter='\t', 
                      parse_dates=cands18Schema.get_dt_colnames(), infer_datetime_format=True,
                      header=0, dtype=cands18Schema.get_pandas_schema(), names=cands18Schema.column_names)

cands18.head(3)

,Catcode,Catname,Catorder,Industry,Sector,SectorLong
0,A0000,Agriculture,A11,Misc Agriculture,Agribusiness,Agribusiness
1,A1000,Crop production & basic processing,A01,Crop Production & Basic Processing,Agribusiness,Agribusiness
2,A1100,Cotton,A01,Crop Production & Basic Processing,Agribusiness,Agribusiness

In [37]:
!hdfs dfs -ls /staging

2018-10-20 16:09:27,114 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Found 2 items
drwxrwxrwx   - matt supergroup          0 2018-10-18 05:33 /staging/bills
drwxr-xr-x   - matt supergroup          0 2018-10-20 16:03 /staging/industry_names

In [38]:
!hdfs dfs -rm -r -f /staging/industry_names

2018-10-20 16:09:38,073 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Deleted /staging/industry_names

In [32]:
#!hdfs dfs -mkdir -p /staging/industry_names

2018-10-20 16:03:11,532 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [33]:
#sc.sql('CREATE TABLE industry_names (Catcode STRING, Catname STRING, Catorder STRING, Industry STRING, Sector STRING, Sector_Long STRING)')

In [34]:
#import findspark
#findspark.init()
#import pyspark
#from pyspark.sql import HiveContext
#
#sqlCtx= HiveContext(sc)
#
#spark_df = sqlCtx.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load("./data/documents_topics.csv")
#spark_df.registerTempTable("my_table")
#
#sqlCtx.sql("CREATE TABLE my_table_2 AS SELECT * from my_table")

In [77]:
!head -n 2 crp_industry_names.txt

Remove header with `tail -n +2 {filename}`

In [78]:
!tail -n +2 crp_industry_names.txt > crp_industry_names_noheader.txt

In [79]:
def etl_text_file(text_file_path, schema_str, table_name, data_source_name, column_datetime_formats=None,
                  csv_quotechar='|', csv_delimiter=','):
    schema = Schema(schema_str)
    schema.register_column_datetime_formats(column_datetime_formats)
    textFileName = osp.split(text_file_path)[1]
    stagingFolder = f'/staging/{table_name}'
    !hdfs dfs -rm -r -f {stagingFolder}/{textFileName}
    !hdfs dfs -mkdir -p {stagingFolder}
    !hdfs dfs -put {text_file_path} {stagingFolder}/{textFileName}
    !hdfs dfs -chmod -R 777 {stagingFolder}
    with open(f'{table_name}.sql', 'w') as f:
        f.write(schema.hive_ddl(tableName=table_name, externalTableLocation=stagingFolder,
                                csv_quotechar=csv_quotechar, csv_delimiter=csv_delimiter))
    !/opt/anaconda3/bin/beeline -u jdbc:hive2://cap1:10000 -n matt -p anything -f {table_name}.sql
    
    # Convert to the proper schema and write as parquet
    finalTableName = f'pq_{data_source_name}_{table_name}'
    !hdfs dfs -chmod -R 777 '/user/hive/warehouse'
    with open(f'{finalTableName}.sql', 'w') as f:
        f.write(schema.hive_ddl_parquet(tableName=finalTableName, originalTableName=table_name))
    !/opt/anaconda3/bin/beeline -u jdbc:hive2://cap1:10000 -n matt -p anything -f {finalTableName}.sql
    
    # clean up -- drop the intermediate (text file) table and delete staged data from HDFS
    sc.sql(f'DROP TABLE {table_name}')
    !hdfs dfs -rm -r -f {stagingFolder}
    
    print('done')

In [80]:
etl_text_file(text_file_path='crp_industry_names_noheader.txt',
              schema_str=IndnamesSchemaStr,
              table_name='industry_names',
              data_source_name='crp',
              csv_quotechar='\\"',
              csv_delimiter='\\t')

2018-10-20 17:33:09,080 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2018-10-20 17:33:11,115 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2018-10-20 17:33:13,148 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2018-10-20 17:33:15,389 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Connecting to jdbc:hive2://cap1:10000
2018-10-20 17:33:17 INFO  Utils:310 - Supplied authorities: cap1:10000
2018-10-20 17:33:17 INFO  Utils:397 - Resolved authority: cap1:10000
2018-10-20 17:33:17 INFO  HiveConnection:203 - Will try to open client transport with JDBC Uri: jdbc:hive2://cap1:10000
Connected to: Spark SQL (version 2.3.2)
Driver: Hive JDBC (version 1.2.1.spark2)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://cap1:10000>
0: jdbc:hive2://cap1:10000> DROP TABLE IF EXISTS industry_names;
+---------+--+
| Result  |
+---------+--+
+---------+--+
No rows selected (0.111 seconds)
0: jdbc:hive2://cap1:10000>
0: jdbc:hive2://cap1:10000> CREATE EXTERNAL TABLE industry_names
0: jdbc:hive2://cap1:10000> (
P',ch industry. Same is Prim_code or realcode, orig-datatype Text (5), source CR
, orig-datatype Text (9), source FEC',me` STRING COMMENT 'Name for each industry
(3), source CRP',ith a code, NOT an abbreviaTRING COMMENT 'Grouping similar indu tion of Catcode, orig-datatype Text
ne with any level of NAICS, orig-datatype Text (25), source CRP',ally a one to o
y , orig-datatype Text (15), source CRP',STRING COMMENT 'A level up from Industr
ustry , orig-datatype Text (40), source CRP' STRING COMMENT 'A level up from Ind
0: jdbc:hive2://cap1:10000> )
6.774943 from /staging/industry_names'uto-generated schema at 2018-10-20 17:33:1
CSVSerde'ive2://cap1:10000> ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.Open
0: jdbc:hive2://cap1:10000> WITH SERDEPROPERTIES (
0: jdbc:hive2://cap1:10000>    "separatorChar" = "\t",
0: jdbc:hive2://cap1:10000>    "quoteChar"     = "\""
0: jdbc:hive2://cap1:10000> )
0: jdbc:hive2://cap1:10000> STORED AS TEXTFILE
0: jdbc:hive2://cap1:10000> LOCATION '/staging/industry_names';
+---------+--+
| Result  |
+---------+--+
+---------+--+
No rows selected (0.039 seconds)
0: jdbc:hive2://cap1:10000>
0: jdbc:hive2://cap1:10000>
Closing: 0: jdbc:hive2://cap1:10000
2018-10-20 17:33:18,843 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00000-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00000-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00001-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00001-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00002-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00002-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00003-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00003-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00004-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00004-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00005-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00005-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00006-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00006-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00007-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00007-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00008-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00008-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00009-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00009-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00010-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00010-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00011-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00011-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00012-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00012-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00013-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00013-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00014-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00014-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00015-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00015-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00016-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00016-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00017-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00017-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00018-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00018-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00019-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00019-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00020-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00020-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00021-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00021-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00022-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00022-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00023-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00023-bf89b388-7d7c-4f11-8565-523fa2d65537-c000
chmod: changing permissions of '/user/hive/warehouse/pq_crp_expends18/part-00024-bf89b388-7d7c-4f11-8565-523fa2d65537-c000': Permission denied. user=matt is not the owner of inode=/user/hive/warehouse/pq_crp_expends18/part-00024-bf89b388-7d7c-4f11-8565-523fa2d65537-c000

Connecting to jdbc:hive2://cap1:10000
2018-10-20 17:33:21 INFO  Utils:310 - Supplied authorities: cap1:10000
2018-10-20 17:33:21 INFO  Utils:397 - Resolved authority: cap1:10000
2018-10-20 17:33:21 INFO  HiveConnection:203 - Will try to open client transport with JDBC Uri: jdbc:hive2://cap1:10000
Connected to: Spark SQL (version 2.3.2)
Driver: Hive JDBC (version 1.2.1.spark2)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://cap1:10000>
0: jdbc:hive2://cap1:10000> DROP TABLE IF EXISTS pq_crp_industry_names;
+---------+--+
| Result  |
+---------+--+
+---------+--+
No rows selected (0.112 seconds)
0: jdbc:hive2://cap1:10000>
0: jdbc:hive2://cap1:10000> CREATE TABLE pq_crp_industry_names
0.273595 from industry_names' MMENT 'Auto-generated schema at 2018-10-20 17:33:2
0: jdbc:hive2://cap1:10000> STORED AS PARQUET
0: jdbc:hive2://cap1:10000> AS SELECT
0: jdbc:hive2://cap1:10000>     `Catcode` AS `Catcode`,
0: jdbc:hive2://cap1:10000>     `Catname` AS `Catname`,
0: jdbc:hive2://cap1:10000>     `Catorder` AS `Catorder`,
0: jdbc:hive2://cap1:10000>     `Industry` AS `Industry`,
0: jdbc:hive2://cap1:10000>     `Sector` AS `Sector`,
0: jdbc:hive2://cap1:10000>     `SectorLong` AS `SectorLong`
0: jdbc:hive2://cap1:10000> FROM industry_names;
Error: org.apache.spark.sql.AnalysisException: org.apache.hadoop.hive.ql.metadata.HiveException: Unable to move source hdfs://cap1/user/hive/warehouse/pq_crp_industry_names/.hive-staging_hive_2018-10-20_17-33-21_532_4325660232294995707-6/-ext-10000/part-00000-c036a413-7869-42b4-ba11-55650507e2b2-c000 to destination hdfs://cap1/user/hive/warehouse/pq_crp_industry_names/part-00000-c036a413-7869-42b4-ba11-55650507e2b2-c000; (state=,code=0)

Closing: 0: jdbc:hive2://cap1:10000
2018-10-20 17:33:22,679 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Deleted /staging/industry_names
done

OK, we get a "filesystem closed" exception around that point in the logs. no idea why. but we can use Spark to load in the data, so we will do that.

In [81]:
!hdfs dfs -mkdir -p /staging/industry_names

2018-10-20 17:57:27,634 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [82]:
!hdfs dfs -put crp_industry_names_noheader.txt /staging/industry_names/crp_industry_names_noheader.txt

2018-10-20 18:04:04,563 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [83]:
!beeline -u jdbc:hive2://cap1:10000 -n matt -p anything -f industry_names.sql

Connecting to jdbc:hive2://cap1:10000
2018-10-20 18:04:32 INFO  Utils:310 - Supplied authorities: cap1:10000
2018-10-20 18:04:32 INFO  Utils:397 - Resolved authority: cap1:10000
2018-10-20 18:04:32 INFO  HiveConnection:203 - Will try to open client transport with JDBC Uri: jdbc:hive2://cap1:10000
Connected to: Spark SQL (version 2.3.2)
Driver: Hive JDBC (version 1.2.1.spark2)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://cap1:10000>
0: jdbc:hive2://cap1:10000> DROP TABLE IF EXISTS industry_names;
+---------+--+
| Result  |
+---------+--+
+---------+--+
No rows selected (0.113 seconds)
0: jdbc:hive2://cap1:10000>
0: jdbc:hive2://cap1:10000> CREATE EXTERNAL TABLE industry_names
0: jdbc:hive2://cap1:10000> (
P',ch industry. Same is Prim_code or realcode, orig-datatype Text (5), source CR
, orig-datatype Text (9), source FEC',me` STRING COMMENT 'Name for each industry
(3), source CRP',ith a code, NOT an abbreviation of Catcode, orig-datatype Text
ne with any level of NAICS, orig-datatype Text (25), source CRP',ally a one to o
y , orig-datatype Text (15), source CRP',STRING COMMENT 'A level up from Industr
ustry , orig-datatype Text (40), source CRP' STRING COMMENT 'A level up from Ind
0: jdbc:hive2://cap1:10000> )
6.774943 from /staging/industry_names'uto-generated schema at 2018-10-20 17:33:1
CSVSerde'ive2://cap1:10000> ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.Open
0: jdbc:hive2://cap1:10000> WITH SERDEPROPERTIES (
0: jdbc:hive2://cap1:10000>    "separatorChar" = "\t",
0: jdbc:hive2://cap1:10000>    "quoteChar"     = "\""
0: jdbc:hive2://cap1:10000> )
0: jdbc:hive2://cap1:10000> STORED AS TEXTFILE
0: jdbc:hive2://cap1:10000> LOCATION '/staging/industry_names';
+---------+--+
| Result  |
+---------+--+
+---------+--+
No rows selected (0.061 seconds)
0: jdbc:hive2://cap1:10000>
0: jdbc:hive2://cap1:10000>
Closing: 0: jdbc:hive2://cap1:10000

In [86]:
schema = Schema(IndnamesSchemaStr)

In [84]:
df = sc.sql('SELECT * FROM industry_names')

apply schema

In [90]:
newDF = sc.createDataFrame(df.rdd, schema=schema.get_spark_dtypes())

In [91]:
newDF.show(2)

+-------+--------------------+--------+--------------------+------------+------------+
|Catcode|             Catname|Catorder|            Industry|      Sector|  SectorLong|
+-------+--------------------+--------+--------------------+------------+------------+
|  A0000|         Agriculture|     A11|    Misc Agriculture|Agribusiness|Agribusiness|
|  A1000|Crop production &...|     A01|Crop Production &...|Agribusiness|Agribusiness|
+-------+--------------------+--------+--------------------+------------+------------+
only showing top 2 rows

In [92]:
newDF.schema

StructType(List(StructField(Catcode,StringType,true),StructField(Catname,StringType,true),StructField(Catorder,StringType,true),StructField(Industry,StringType,true),StructField(Sector,StringType,true),StructField(SectorLong,StringType,true)))

save to Hive

In [93]:
newDF.write.saveAsTable('pq_crp_industry_names', format='parquet', mode='overwrite')

update comments using the latter part of the 'pq_crp_industry_names.sql' file written by the `Schema` object

In [96]:
%cat pq_crp_industry_names.sql | tail -n 7

ALTER TABLE pq_crp_industry_names CHANGE `Catcode` `Catcode` STRING COMMENT 'Unique indentifier for each industry. Same is Prim_code or realcode';
ALTER TABLE pq_crp_industry_names CHANGE `Catname` `Catname` STRING COMMENT 'Name for each industry';
ALTER TABLE pq_crp_industry_names CHANGE `Catorder` `Catorder` STRING COMMENT 'Grouping similar industries together with a code, NOT an abbreviation of Catcode';
ALTER TABLE pq_crp_industry_names CHANGE `Industry` `Industry` STRING COMMENT 'Not really a one to one with any level of NAICS';
ALTER TABLE pq_crp_industry_names CHANGE `Sector` `Sector` STRING COMMENT 'A level up from Industry ';
ALTER TABLE pq_crp_industry_names CHANGE `SectorLong` `SectorLong` STRING COMMENT 'A level up from Industry ';

In [97]:
%cat pq_crp_industry_names.sql | tail -n 7 > pq_crp_industry_names_comments.sql

In [98]:
!beeline -u jdbc:hive2://cap1:10000 -n matt -p anything -f pq_crp_industry_names_comments.sql

Connecting to jdbc:hive2://cap1:10000
2018-10-20 18:09:31 INFO  Utils:310 - Supplied authorities: cap1:10000
2018-10-20 18:09:31 INFO  Utils:397 - Resolved authority: cap1:10000
2018-10-20 18:09:31 INFO  HiveConnection:203 - Will try to open client transport with JDBC Uri: jdbc:hive2://cap1:10000
Connected to: Spark SQL (version 2.3.2)
Driver: Hive JDBC (version 1.2.1.spark2)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://cap1:10000>
 or realcode';G COMMENT 'Unique indentifier for each industry. Same is Prim_code
+---------+--+
| Result  |
+---------+--+
+---------+--+
No rows selected (0.276 seconds)
Catname` STRING COMMENT 'Name for each industry';dustry_names CHANGE `Catname` `
+---------+--+
| Result  |
+---------+--+
+---------+--+
No rows selected (0.103 seconds)
 an abbreviation of Catcode';ouping similar industries together with a code, NOT
+---------+--+
| Result  |
+---------+--+
+---------+--+
No rows selected (0.094 seconds)
`Industry` STRING COMMENT 'Not really a one to one with any level of NAICS';ry`
+---------+--+
| Result  |
+---------+--+
+---------+--+
No rows selected (0.094 seconds)
ector` STRING COMMENT 'A level up from Industry ';ustry_names CHANGE `Sector` `S
+---------+--+
| Result  |
+---------+--+
+---------+--+
No rows selected (0.097 seconds)
` `SectorLong` STRING COMMENT 'A level up from Industry ';mes CHANGE `SectorLong
+---------+--+
| Result  |
+---------+--+
+---------+--+
No rows selected (0.091 seconds)
0: jdbc:hive2://cap1:10000>
Closing: 0: jdbc:hive2://cap1:10000

In [102]:
!beeline -u jdbc:hive2://cap1:10000 -n matt -p anything -e 'DESCRIBE pq_crp_industry_names;'

Connecting to jdbc:hive2://cap1:10000
2018-10-20 18:10:23 INFO  Utils:310 - Supplied authorities: cap1:10000
2018-10-20 18:10:23 INFO  Utils:397 - Resolved authority: cap1:10000
2018-10-20 18:10:23 INFO  HiveConnection:203 - Will try to open client transport with JDBC Uri: jdbc:hive2://cap1:10000
Connected to: Spark SQL (version 2.3.2)
Driver: Hive JDBC (version 1.2.1.spark2)
Transaction isolation: TRANSACTION_REPEATABLE_READ
+-------------+------------+-----------------------------------------------------------------------------------+--+
|  col_name   | data_type  |                                      comment                                      |
+-------------+------------+-----------------------------------------------------------------------------------+--+
| Catcode     | string     | Unique indentifier for each industry. Same is Prim_code or realcode               |
| Catname     | string     | Name for each industry                                                            |
| Catorder    | string     | Grouping similar industries together with a code, NOT an abbreviation of Catcode  |
| Industry    | string     | Not really a one to one with any level of NAICS                                   |
| Sector      | string     | A level up from Industry                                                          |
| SectorLong  | string     | A level up from Industry                                                          |
+-------------+------------+-----------------------------------------------------------------------------------+--+
6 rows selected (0.14 seconds)
Beeline version 1.2.1.spark2 by Apache Hive
Closing: 0: jdbc:hive2://cap1:10000

clean up

In [103]:
!hdfs dfs -rm -r -f /staging/industry_names
!beeline -u jdbc:hive2://cap1:10000 -n matt -p anything -e 'DROP TABLE industry_names;'

2018-10-20 18:14:10,739 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Deleted /staging/industry_names
Connecting to jdbc:hive2://cap1:10000
2018-10-20 18:14:12 INFO  Utils:310 - Supplied authorities: cap1:10000
2018-10-20 18:14:12 INFO  Utils:397 - Resolved authority: cap1:10000
2018-10-20 18:14:12 INFO  HiveConnection:203 - Will try to open client transport with JDBC Uri: jdbc:hive2://cap1:10000
Connected to: Spark SQL (version 2.3.2)
Driver: Hive JDBC (version 1.2.1.spark2)
Transaction isolation: TRANSACTION_REPEATABLE_READ
+---------+--+
| Result  |
+---------+--+
+---------+--+
No rows selected (0.202 seconds)
Beeline version 1.2.1.spark2 by Apache Hive
Closing: 0: jdbc:hive2://cap1:10000

verify all data got written:

In [134]:
sc.sql('SELECT COUNT(*) FROM pq_crp_industry_names').collect()

[Row(count(1)=459)]

In [135]:
!cat crp_industry_names.txt | wc -l

459

In [89]:
#!hdfs dfs -mkdir -p //cap1/user/jennifer/industry

In [44]:
#crp_industry_names.to_parquet('//cap1/user/jennifer/df.parquet.gzip', compression='gzip')

In [45]:
#from pyspark.sql import HiveContext
#
#sqlCtx= HiveContext(sc)
#
#df = sqlCtx.sql("SELECT * FROM parquet.`//cap1/user/jennifer/df.parquet`")