In [1]:
import pyspark

In [2]:
sc = pyspark.sql.SparkSession.Builder()\
        .master('yarn')\
        .appName('hive-test')\
        .enableHiveSupport()\
        .getOrCreate()

In [3]:
sc

In [4]:
sc.sql('SHOW TABLES').collect()

[]

In [5]:
sc.sql('CREATE TABLE pokes (foo INT, bar STRING)')

DataFrame[]

In [6]:
sc.sql('SHOW TABLES').collect()

[Row(database='default', tableName='pokes', isTemporary=False)]

... make some changes in `beeline`...
```
[hadoop@cap2 ~]$ beeline
beeline> !connect jdbc:hive2://cap1:10000 [username matt, password anything]
beeline> CREATE TABLE faces (id INT, name STRING);
```

In [7]:
sc.sql('SHOW TABLES').collect()

[Row(database='default', tableName='faces', isTemporary=False),
 Row(database='default', tableName='pokes', isTemporary=False)]

In [8]:
sc.sql('DESCRIBE TABLE faces').collect()

[Row(col_name='id', data_type='int', comment=None),
 Row(col_name='name', data_type='string', comment=None)]

In [9]:
sc.sql('DROP TABLE faces')
sc.sql('DROP TABLE pokes')
sc.sql('SHOW TABLES').collect()

[]